<div class="text-center" style="margin-top: 15px; padding: 10px 0 0;">
    <a href="javascript:" (click)="advancedExpanded = !advancedExpanded">
    <span *ngIf="advancedExpanded">
        Hide Advanced Settings
        <i class="ion-chevron-up"></i>
    </span>
    <span *ngIf="!advancedExpanded">
        Show Advanced Settings
        <i class="ion-chevron-down"></i>
    </span>
    </a>
</div>

<div *ngIf="advancedExpanded">
    <div class="row pad-top">
    <div class="col-12">
        <h5>Preferences</h5>

        <div class="row pad-top">
        <div class="col-6">
            <label for="wahtsConnectionType">WAHTS Connection Type:</label>
        </div>
        <div ngbDropdown class="col-2 dropdown-width" display="dynamic">
            <button type="button" class="btn btn-default btn-block dropdown-toggle" id="wahtsConnectionType" ngbDropdownToggle>
            {{ disk.preferences.wahtsConnectionType }}
            </button>
            <div ngbDropdownMenu aria-labelledby="wahtsConnectionType">
            <button *ngFor="let bt of BluetoothType | keyvalue" ngbDropdownItem (click)="changeWahtsConnectionType(bt.value)">
                {{ bt.value }}
            </button>
            </div>
        </div>
        </div>

        <div class="row pad-top">
        <div class="col-6">
            <label for="ignoreFirmwareUpdates">Ignore Firmware Updates:</label>
        </div>
        <div class="col-2">
            <input
            id="ignoreFirmwareUpdates"
            type="checkbox"
            [ngModel]="disk.preferences.ignoreFirmwareUpdates"
            (change)="toggleIgnoreFirmwareUpdates()" />
        </div>
        </div>
    </div>
    </div>

    <div class="row pad-top">
    <div class="col-12">
        <h5>Firmware</h5>

        <div class="row pad-top">
        <div class="col-6">WAHTS Firmware Tag:</div>
        <div class="col-4">{{ (wahtsFirmwareAsset | async)?.version ?? "--" }}</div>
        </div>

        <div class="row pad-top">
        <div class="col-6">WAHTS Firmware Build Time:</div>
        <div class="col-4">{{ (wahtsFirmwareAsset | async)?.buildDatetime ?? "--" }}</div>
        </div>
    </div>
    </div>
</div>