<!-- Cha State -->
<div class="row pad-top">
    <div class="col-4 admin-labels">State: </div>
    <div class="col-8" *ngIf="cha.state === 'connected'"><em>Connected</em></div>
    <div class="col-8" *ngIf="cha.state === 'disconnected'"><em>Not Connected</em></div>
    <div class="col-8" *ngIf="cha.state === 'reprogram'"><em>Reprogramming</em></div>
    <div class="col-8" *ngIf="cha.state !== 'connected' && cha.state !== 'disconnected' && cha.state !== 'reprogram'"><em>Connecting</em></div>
</div>

<!-- Preferred Cha -->
<div class="row pad-top" *ngIf="disk?.cha?.myCha">
    <div class="col-4">Preferred: </div>
    <div class="col-4" style="word-wrap: break-word;">{{disk?.cha?.myCha}}</div>
    <div class="col-4">
        <button class="btn btn-default btn-block" (click)="removeCha()">Remove</button>
    </div>
</div>

<!-- Bluetooth Message-->
<div class="row pad-top" *ngIf="!bluetoothStatus.state">
    <div class="col-10 text-warning"><em>Bluetooth radio disabled</em></div>
</div>

<!-- Connection Buttons-->
<div class="row pad-top">
    <div class="col-4" [ngSwitch]="cha.state">
      <button *ngSwitchDefault class="btn btn-primary btn-block disabled custom-disabled">Connect</button>
      <button *ngSwitchCase="'disconnected'" class="btn btn-primary btn-block" [disabled]="!bluetoothStatus.state" [ngClass]="!bluetoothStatus.state ? 'disabled custom-disabled': ''" (click)="cha.connect()">Connect</button>
    </div>
    <div class="col-4" [ngSwitch]="cha.state">
      <button *ngSwitchDefault class="btn btn-primary btn-block disabled custom-disabled">Disconnect</button>
      <button *ngSwitchCase="'connected'" class="btn btn-primary btn-block" (click)="cha.disconnect()">Disconnect</button>
      <button *ngSwitchCase="'discovery'" class="btn btn-primary btn-block disabled custom-disabled">Disconnect</button>
    </div>
    <div class="col-4" [ngSwitch]="cha.state">
      <button *ngSwitchDefault class="btn btn-primary btn-block" (click)="cha.cancelConnect()">Cancel</button>
      <button *ngSwitchCase="'reprogram'" class="btn btn-primary btn-block disabled custom-disabled">Cancel</button>
      <button *ngSwitchCase="'connected'" class="btn btn-primary btn-block disabled custom-disabled">Cancel</button>
      <button *ngSwitchCase="'disconnected'" class="btn btn-primary btn-block disabled custom-disabled">Cancel</button>
    </div>
</div>

<!-- Connected Cha -->
<div *ngIf="cha.state === 'connected'">
    <hr />
    <cha-info-view></cha-info-view>
</div>

<!-- Show Advanced -->
<div class="row showhideSection">
    <div class="col-12 text-center">
        <a href="javascript:" (click)="state.isPaneOpen.chaAdvanced = !state.isPaneOpen.chaAdvanced">
            <span *ngIf="state.isPaneOpen.chaAdvanced" translate>
                Hide Advanced Settings 
                <i class="ion-chevron-up"></i>
            </span>
            <span *ngIf="!state.isPaneOpen.chaAdvanced" translate>
                Show Advanced Settings 
                <i class="ion-chevron-down"></i>
            </span>
        </a>
    </div>
</div>

<div #collapse="ngbCollapse" [(ngbCollapse)]="!state.isPaneOpen.chaAdvanced">
    
    <div class="row pad-top">
        <div class="col-12">
            <h5>Preferences</h5>
        </div>
    </div>

    <!-- Bluetooth Choice -->
    <div class="row pad-top">
        <div class="col-5"><label for="type">Type:</label></div>
        <div class="col-5">
            <div ngbDropdown display="dynamic">                            
                <button type="button" class="btn btn-default btn-block dropdown-toggle" id="bluetooth-type-dropdown" ngbDropdownToggle>
                    {{bluetoothTypes[getBluetoothType()] || "None"}}
                </button>
                <div ngbDropdownMenu aria-labelledby="resultsMode">
                    <button *ngFor="let bluetoothType of bluetoothTypes | keyvalue" ngbDropdownItem (click)="changeBluetoothType(bluetoothType.key)">{{bluetoothType.value}}</button>
                </div>
            </div>
        </div>
        <div class="col-1" href="javascript:" title="{{'Type help' | translate}}">
            <i [matMenuTriggerFor]= "bluetoothTypePopoverMenu" class="ion-help-circled"></i>
        </div>
        <mat-menu #bluetoothTypePopoverMenu="matMenu">
            <button mat-menu-item>
                <div [innerHTML]="bluetoothTypePopover"></div>
            </button>
        </mat-menu>
    </div>


</div>
