<div class="questionbox welcome-page">
  <img src="assets/img/icon.svg" class="welcome-logo-size" alt="{{ 'TabSINT logo' }}" />

  <h1 class="welcome welcome-title" i18n>TABSINT</h1>

  <div class="spacer"></div>

  <div class="container">
    <a class="welcome-row" tabindex="0" (click)="scanQrCodeandAutoConfig()" (keyup.enter)="scanQrCodeandAutoConfig()">
      <span><img src="assets/img/QR_code.png" class="qrCode-logo-size" alt="{{ 'QR code logo' }}" /></span>
      <span class="welcome">{{ "Scan Configuration" | transloco }}</span>
    </a>
    <a routerLink="/exam" class="welcome-row">
      <span><mat-icon>edit</mat-icon></span>
      <span class="welcome">{{ "Exam View" | transloco }}</span>
    </a>

    <a class="welcome-row" tabindex="0" (click)="adminService.onAdminViewClick()" (keyup.enter)="adminService.onAdminViewClick()">
      <span><mat-icon>settings</mat-icon></span>
      <span class="welcome">{{ "Admin View" | transloco }}</span>
    </a>

    <a href="https://tabsint.org/" class="welcome-row">
      <span><mat-icon>help_outline</mat-icon></span>
      <span class="welcome">{{ "Documentation" | transloco }}</span>
    </a>

    <app-build-details></app-build-details>
  </div>
</div>
