<div class="questionbox welcome-page">

    <img src="assets/img/icon.svg" class="welcome-logo-size" alt="{{'TabSINT logo'}}" />
  
    <h1 class="welcome welcome-title" i18n>TABSINT</h1>
  
    <div class="spacer"></div>
  
    <div class="container">
  
<!--    NOT YET IMPLEMENTED, DO NOT DELETE   
      <a href="#" class="welcome-row" (click)="scanQrCodeandAutoConfig()">
        <span><img src="assets/img/QR_code.png" class="qrCode-logo-size" alt="{{'QR code logo'}}" /></span>
        <span i18n class="welcome">Scan Configurations</span>
      </a>
   -->
      <a routerLink="/exam" class="welcome-row">
        <span><mat-icon>edit</mat-icon></span>
        <span class="welcome" i18n>Exam View</span>
      </a>


      <a (click)="adminService.onAdminViewClick()" class="welcome-row">
        <span><mat-icon>settings</mat-icon></span>
        <span class="welcome" i18n>Admin View</span>
      </a>
  
      <a href="https://tabsint.org/" class="welcome-row" *ngIf="config.build !== 'heartrack'">
        <span><mat-icon>help_outline</mat-icon></span>
        <span class="welcome" i18n>Documentation</span>
      </a>
  
      <build-details></build-details>
  
    </div>
  
  </div>
  
  <!-- Active Task Footer -->
  <!-- <active-tasks></active-tasks> -->
  
