<div class="questionbox welcome-page">

    <img src="assets/img/icon.svg" style="width: 50%; min-width: 175px;max-width: 300px;" alt="{{'TabSINT logo'}}" />
  
    <h1 class="welcome welcome-title" i18n>TABSINT</h1>
  
    <div class="spacer"></div>
  
    <div class="container">
  
      <a href="#" class="welcome-row" ng-click="scanQrCodeandAutoConfig()">
        <span><img src="assets/img/QR_code.png" style="max-width: 29px" alt="{{'QR code logo'}}" /></span>
        <span i18n class="welcome">Scan Configurations</span>
      </a>
  
      <a href="#" class="welcome-row" ng-click="switchToExamView()">
        <span><mat-icon>edit</mat-icon></span>
        <span class="welcome" i18n>Exam View</span>
      </a>
  
      <a routerLink="/admin" routerLinkActive="active" class="welcome-row" ng-if="config.build !== 'heartrack'" ng-click="switchToAdminView()">
        <span><mat-icon>settings</mat-icon></span>
        <span class="welcome" i18n>Admin View</span>
      </a>
  
      <a href="#" class="welcome-row" ng-if="config.build !== 'heartrack'" ng-click="router.goto('DOCS')">
        <span><mat-icon>help_outline</mat-icon></span>
        <span class="welcome" i18n>Documentation</span>
      </a>
  
      <!-- <build-details/> -->
  
    </div>
  
  </div>
  
  <!-- Active Task Footer -->
  <!-- <active-tasks></active-tasks> -->
  
