<div class="likert-container" *ngFor="let question of questions; let questionIndex = index">
  <!-- Question Text -->
  <p class="question">{{ question }}</p>

  <!-- Labels Above -->
  <div
    class="likert-labels"
    *ngIf="position === 'above' && labels.length > 0"
    [style.justify-content]="labels.length === levels ? 'space-between' : 'flex-start'">
    <span
      *ngFor="let label of labels; let labelIndex = index"
      class="likert-label-above"
      [ngClass]="{
        'align-left': labelIndex === 0 && labels.length !== levels,
        'align-right': labelIndex === labels.length - 1 && labels.length !== levels,
        'center-align': labels.length === levels
      }"
      [style.width]="labels.length === levels ? (100 / levels) + '%' : 'auto'">
      {{ label }}
    </span>
  </div>

  <!-- Slider Mode -->
  <div *ngIf="useSlider" class="likert-slider-container">
    <!-- Ruler -->
    <div class="ruler">
      <div
        class="tick"
        *ngFor="let value of [].constructor(levels * 10 + 1); let index = index"
        [ngClass]="{
          'major-tick': index % 10 === 0,
          'minor-tick': index % 10 !== 0
        }"
        [style.left]="(index / 10) * 100 / levels + '%'">
        <!-- Major Tick Buttons -->
        <button
          *ngIf="index % 10 === 0"
          class="tick-button"
          (click)="setSliderValue(questionIndex, index / 10)"
          [style.left]="(index / 10) * 100 / levels + '%'">
          {{ index / 10 }}
        </button>
      </div>
    </div>

    <!-- Slider Input -->
    <input
      type="range"
      [class.hidden-cursor]="isNotApplicable[questionIndex] || sliderValue[questionIndex] === null"
      min="0"
      max="{{ levels }}"
      step="0.1"
      class="custom-slider"
      [value]="sliderValue[questionIndex]"
      (input)="onSliderChange(questionIndex, $event)"/>
  </div>

  <!-- Button Mode -->
  <div *ngIf="!useSlider" class="likert-scale">
    <div class="likert-options">
      <button
        *ngFor="let level of [].constructor(levels); let levelIndex = index"
        class="likert-option"
        [ngClass]="{selected: results.currentPage.response[questionIndex] === levelIndex}"
        (click)="onResponseChange(questionIndex, levelIndex)">
        <span *ngIf="!useEmoticons">{{ levelIndex }}</span>
        <span *ngIf="useEmoticons">{{ emoticons[levelIndex % emoticons.length] }}</span>
      </button>
    </div>
  </div>

  <!-- Not Applicable Checkbox -->
  <div *ngIf="naBox" class="likert-footer">
    <label>
      <input
        type="checkbox"
        (change)="onNotApplicableChange(questionIndex, $event)"/>
      Not Applicable
    </label>
  </div>

  <!-- Labels Below -->
  <div
    class="likert-labels"
    *ngIf="position === 'below' && labels.length > 0"
    [style.justify-content]="labels.length === levels ? 'space-between' : 'flex-start'">
    <span
      *ngFor="let label of labels; let labelIndex = index"
      class="likert-label-below"
      [ngClass]="{
        'align-left': labelIndex === 0 && labels.length !== levels,
        'align-right': labelIndex === labels.length - 1 && labels.length !== levels,
        'center-align': labels.length === levels}"
      [style.width]="labels.length === levels ? (100 / levels) + '%' : 'auto'">
      {{ label }}
    </span>
  </div>
</div>
