<div [ngSwitch]="currentStep">

  <!-- Exam Step -->
  <div *ngSwitchCase="'Exam'" class="audiometry-container">
    <div class="main-white-box">
      <div class="graphs-container">

        <!-- Right Audiogram -->
        <div class="audiogram-right" [ngClass]="{'red-border': selectedEar === 'Right'}">
          <audiogram 
            *ngIf="refreshGraph" 
            [dataStruct]="getEarData('Right')" 
            [selectedEar]="selectedEar === 'Right' ? 'Right' : null" 
            [isManualExam]="true"></audiogram>
        </div>

        <!-- Response Buttons -->    
        <div class="response-panel-vertical">
          <button class="response-btn" 
            [disabled]="!isNoResponseEnabled" 
            [ngStyle]="{
            'background-color': !isNoResponseEnabled ? 'grey' : 'blue-grey',
            'color': 'white'}"
            (click)="noResponse()">
            No Response</button>
          <button class="response-btn delete-threshold" (click)="deleteThreshold()">Delete Threshold</button>
          <button class="response-btn record-threshold" (click)="recordThreshold()">Record Threshold</button>
          <button class="response-btn submit-results" (click)="examService.submit()">Submit Results</button>
        </div>

        <!-- Left Audiogram -->
        <div class="audiogram-left" [ngClass]="{'blue-border': selectedEar === 'Left'}" >
          <audiogram 
            *ngIf="refreshGraph" 
            [dataStruct]="getEarData('Left')" 
            [selectedEar]="selectedEar === 'Left' ? 'Left' : null" 
            [isManualExam]="true"></audiogram>
        </div>
      </div>
  
      <div class="response-panel">

        <!-- Ear Selection Panel -->
        <div class="ear-buttons">
          <button
            class="ear-btn"
            [ngStyle]="{'background-color': selectedEar === 'Right' ? '#dc3545' : 'transparent', 'color': selectedEar === 'Right' ? 'white' : 'black'}"
            (click)="selectEar('Right')" >
            Right
          </button>
          <button
            class="ear-btn"
            [ngStyle]="{'background-color': selectedEar === 'Left' ? '#007bff' : 'transparent', 'color': selectedEar === 'Left' ? 'white' : 'black'}"
            (click)="selectEar('Left')">
            Left
          </button>
        </div>
      </div>
  
      <!-- Control Boxes -->
      <div class="control-boxes-container">

        <!-- Tone -->
        <div class="control-box tone-box">
          <div class="box-label">Tone</div>
          <div class="adjustment-buttons">
            <button
              class="adjust-btn"
              *ngFor="let adjustment of adjustments"
              (click)="adjustTone(adjustment)">
              {{ adjustment > 0 ? '+' + adjustment : adjustment }}
            </button>
          </div>
          <div class="tone-display">
            <div class="tone-value">
              <ng-container *ngIf="currentDbSpl <= minOutputLevel || currentDbSpl >= maxOutputLevel">
                ({{ currentDb }})
              </ng-container>
              <ng-container *ngIf="currentDbSpl > minOutputLevel && currentDbSpl < maxOutputLevel">
                {{ currentDb }}
              </ng-container>
            </div>
            <div class="tone-label">{{levelUnits}}</div>
          </div>
          <div class="play-button-container">
            <button class="play-btn" [disabled]="isPlaying" (click)="playTone()">
              <span>▶</span>
            </button>
          </div>
        </div>
  
        <!-- Frequency -->
        <div class="control-box frequency-box">
          <div class="box-label">Frequency</div>
          <button class="adjust-btn frequency-btn" (click)="adjustFrequency(-1)">◀</button>
          <div class="frequency-display">
            <div class="frequency-value">{{ selectedFrequency }}</div>
            <div class="frequency-label">HZ</div>
          </div>
          <button class="adjust-btn frequency-btn" (click)="adjustFrequency(1)">▶</button>
        </div>
  
        <!-- Masking -->
        <div class="control-box masking-box disabled">
          <div class="box-label">Masking</div>
          <div class="play-button-container">
            <button class="play-btn" disabled>
              <span>▶</span>
            </button>
          </div>
          <div class="masking-display">
            <div class="masking-value">{{ maskingLevel }}</div>
            <div class="masking-label">dB EM</div>
          </div>
          <div class="adjustment-buttons">
            <button class="adjust-btn" disabled>+5</button>
            <button class="adjust-btn" disabled>-5</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Results Step -->
  <div *ngSwitchCase="'Results'">
    <manual-audiometry-result-viewer
      [audiogramData] = "audiogramData">
    </manual-audiometry-result-viewer>
  </div>
  
</div>
  