{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "bracketSameLine": true,
  "printWidth": 150,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-java"],
  "pluginSearchDirs": ["./node_modules"],
  "overrides": [{ "files": "**/*.java", "options": { "plugins": ["prettier-plugin-java"] } }]
}
