<h2 mat-dialog-title>{{ "Select GitLab Reference" | transloco }}</h2>

<mat-dialog-content>
  <div>{{ "Choose which reference source is used when pulling data from a GitLab repository." | transloco }}</div>
  <mat-radio-group aria-label="Select Gitlab Reference" [(ngModel)]="selectedOption">
    <mat-radio-button [value]="optionTag">{{ "Latest Tag" | transloco }}</mat-radio-button>
    <mat-radio-button [value]="optionCommit">{{ "Latest Commit" | transloco }}</mat-radio-button>
  </mat-radio-group>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="cancel()">{{ "Cancel" | transloco }}</button>
  <button mat-button (click)="confirm()">{{ "OK" | transloco }}</button>
</mat-dialog-actions>
