<div class="modal-header">
  <span>Enter new TabSINT ID</span>
</div>
<div class="modal-body">
  <label for="tabsintId">
    <span>Please enter a new TabSINT ID:</span>
  </label>
  <input id="tabsintId" type="text" [(ngModel)]="tabsintId" [placeholder]="device.tabsintId" autofocus="true" />
</div>
<br />
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-block" (click)="save(tabsintId)">
    {{ "Save" | translate }}
  </button>
  <button type="button" class="btn btn-warning" (click)="cancel()">
    {{ "Cancel" | translate }}
  </button>
</div>
