# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/android/
!/build/.npmkeep
version.json

# Node
/node_modules
npm-debug.log
yarn-error.log

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
android/keystore.properties
*.keystore
keystore.base64

# System files
.DS_Store
Thumbs.db
