<!-- Exam Mode View -->

<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top tablet-interface" style="display: flex; flex-direction: row;">
    <div class="container-fluid">
      <!-- <div class="row"> -->
  
        <!-- Exam Header -->
        <div *ngIf="isexam" style="overflow:auto;flex: 1 1 auto;">
          <!-- <h1 *ngIf="page.dm.title && dm.state.mode !== 'READY'" class="surveytitle truncate">
            {{page.dm.title}}
          </h1> -->
          Title
        </div>
  
        <!-- Admin Header -->
        <div *ngIf="!isexam" style="overflow:auto;flex: 1 1 auto;">
          <h1 class="surveytitle truncate">
            <!-- <ng-transclude></ng-transclude> -->
          </h1>
        </div>
  
        <div class="text-right text-nowrap icons-right">
  
          <!-- resource indicators -->
          <indicator-view></indicator-view>
  
          <!-- task list -->
          <a href="#" class="surveytitle task-toggle" *ngIf="tasks.numOngoing() > 0 && tasks.hidden">
            <span ng-click="tasks.unhide()"><i class="ion-clipboard"></i></span>
          </a>

          <!-- dropdown -->

          <style>
            .dropdown-toggle::after{
              display:none;
            }
          </style>

          <div class="col">
            <div ngbDropdown display="dynamic" class="d-inline-block">
              <button type="button" class="btn btn-outline-primary" id="header-dropdown-menu" ngbDropdownToggle>
                <i class="bi bi-justify"></i>
              </button>
              <div ngbDropdownMenu aria-labelledby="header-dropdown-menu">
                <button ngbDropdownItem>Scan Configuration</button>
                <button ngbDropdownItem>Exam View</button>
                <button ngbDropdownItem>Admin View</button>
                <button ngbDropdownItem>Documentation</button>
              </div>
            </div>
          </div>

        <!-- </div> -->
      </div>
    </div>
  </nav>
  