<div class="row">
  <div class="col-12">{{ "Number of log messages" | transloco }}: {{ logsCount }}</div>
</div>
<div class="row pad-top">
  <div class="col-4"></div>
  <div class="col-4">
    <button class="btn btn-block btn-primary" (click)="logExportSave()"><span class="ion-document"></span> {{ "Export" | transloco }}</button>
  </div>
  <div class="col-4">
    <button class="btn btn-block btn-default" (click)="displayLogs()">
      <i class="ion-document-text"></i> {{ showLogs ? ("Hide" | transloco) : ("Display" | transloco) }}
    </button>
  </div>
</div>

<div class="row pad-top" *ngIf="showLogs">
  <div class="col-12">
    <div class="well admin-log-display"></div>
  </div>
  <div class="row mt-4" *ngIf="showLogs">
    <div class="col-12 log-textarea" #logContainer>
      <div *ngFor="let log of logs; let i = index">
        <div class="log-entry">
          <pre>{{ log }}</pre>
        </div>
        <hr *ngIf="i < logs!.length - 1" />
        <!-- Horizontal line to separate log entries -->
      </div>
    </div>
  </div>
</div>
