<div class="panel-body text-left">

  <!-- Bluetooth warning -->
  <div class="row pad-top" *ngIf="!state.bluetoothConnected">
    <div class="col-10 text-warning"><em>{{ "Bluetooth radio disabled" | transloco }}</em></div>
  </div>

  <ng-container *ngIf="devices$ | async as devices">

    <div class="row device-new-connection-row" *ngIf="!scanning && devices.length < maxDevices">
      <div class="col-12">
        <button class="btn btn-primary" (click)="addNewConnection()">+ {{ "New Connection" | transloco }}</button>
      </div>
    </div>

    <ng-container *ngFor="let device of devices">
      <app-device-card [device]="device" [bluetoothConnected]="state.bluetoothConnected"></app-device-card>
    </ng-container>

    <div class="row device-new-connection-row" *ngIf="scanning">
      <div class="col-6">
        <em>{{ "Scanning for devices..." | transloco }}</em>
      </div>
      <div class="col-4">
        <button class="btn btn-primary btn-block" (click)="cancelNewConnection()">{{ "Cancel" | transloco }}</button>
      </div>
    </div>

  </ng-container>

  <!-- WAHTS-only advanced settings -->
  <ng-container *ngIf="deviceType === DeviceType.Wahts">

    <div class="row showhideSection">
      <div class="col-12 text-center">
        <a href="javascript:" (click)="advancedExpanded = !advancedExpanded">
          <span *ngIf="advancedExpanded">
            {{ "Hide Advanced Settings" | transloco }}
            <i class="ion-chevron-up"></i>
          </span>
          <span *ngIf="!advancedExpanded">
            {{ "Show Advanced Settings" | transloco }}
            <i class="ion-chevron-down"></i>
          </span>
        </a>
      </div>
    </div>

    <div [ngbCollapse]="!advancedExpanded">
      <div class="row pad-top">
        <div class="col-12">
          <h5>{{ "Preferences" | transloco }}</h5>

          <div class="row pad-top">
            <div class="col-6">
              <label for="wahtsConnectionType">{{ "WAHTS Connection Type:" | transloco }}</label>
            </div>
            <div ngbDropdown class="col-2 dropdown-width" display="dynamic">
              <button type="button" class="btn btn-default btn-block dropdown-toggle" id="wahtsConnectionType" ngbDropdownToggle>
                {{ disk.preferences.wahtsConnectionType }}
              </button>
              <div ngbDropdownMenu aria-labelledby="wahtsConnectionType">
                <button *ngFor="let bt of BluetoothType | keyvalue" ngbDropdownItem (click)="changeWahtsConnectionType(bt.value)">
                  {{ bt.value }}
                </button>
              </div>
            </div>
          </div>

          <div class="row pad-top">
            <div class="col-6">
              <label for="ignoreFirmwareUpdates">{{ "Ignore Firmware Updates:" | transloco }}</label>
            </div>
            <div class="col-2">
              <input
                id="ignoreFirmwareUpdates"
                type="checkbox"
                [ngModel]="disk.preferences.ignoreFirmwareUpdates"
                (change)="toggleIgnoreFirmwareUpdates()" />
            </div>
          </div>
        </div>
      </div>

      <div class="row pad-top">
        <div class="col-12">
          <h5>{{ "Firmware" | transloco }}</h5>

          <div class="row pad-top">
            <div class="col-6">{{ "WAHTS Firmware Tag:" | transloco }}</div>
            <div class="col-4">{{ (wahtsFirmwareAsset | async)?.version ?? "--" }}</div>
          </div>

          <div class="row pad-top">
            <div class="col-6">{{ "WAHTS Firmware Build Time:" | transloco }}</div>
            <div class="col-4">{{ (wahtsFirmwareAsset | async)?.buildDatetime ?? "--" }}</div>
          </div>
        </div>
      </div>
    </div>

  </ng-container>

</div>
