<div class="cha-info cha-info-space-fix">
  <div class="row">
    <div class="col-12"></div>
  </div>

  <!-- Connected Device Tabsint ID -->
  <div class="row pad-top">
    <div class="col-4">TabSINT ID:</div>
    <div class="col-4" style="min-width: 0">
      <div class="text-line-truncate">{{ device.tabsintId }}</div>
    </div>
    <div class="col-1">
      <a href="javascript:" title="{{ 'TabSINT ID Edit' | transloco }}" (click)="editTabsintId(device)"><i class="ion-edit"></i></a>
    </div>
    <div class="col-1"></div>
    <div class="col-1" href="javascript:" title="{{ 'TabSINT ID Edit Help' | transloco }}">
      <i [matMenuTriggerFor]="setTabsintIdMenu" class="ion-help-circled"></i>
    </div>
    <mat-menu #setTabsintIdMenu="matMenu">
      <button mat-menu-item>
        <div [innerHTML]="setTabsintIdPopover"></div>
      </button>
    </mat-menu>
  </div>

  <!-- Calibration Date -->
  <!-- <div class="row pad-top">
    <div class="col-4">Calibration Date: </div>
    <div class="col-8" >{{devices?.connectedDevices?.tympan?.[0]?.tympanCalibrationDate}}</div>
  </div> -->

  <!-- Connected Device Firmware-->
  <div class="row pad-top">
    <div class="col-4">Firmware:</div>
    <div class="col-4" [ngStyle]="{ color: firmwareMatch === undefined ? 'black' : firmwareMatch ? 'green' : 'red' }">
      {{ device.metadata.buildDateTime ?? "N/A" }}
    </div>
    <div class="col-1">
      <a
        *ngIf="firmwareMatch === false && device.state === DeviceState.Connected"
        href="javascript:"
        title="{{ 'Update Firmware' | transloco }}"
        (click)="reprogramFirmware(device)"
        ><i class="ion-refresh"></i
      ></a>
    </div>
    <div class="col-1"></div>
    <div class="col-1" href="javascript:" title="{{ 'Update Firmware Help' | transloco }}">
      <i [matMenuTriggerFor]="firmwareMenu" class="ion-help-circled"></i>
    </div>
    <mat-menu #firmwareMenu="matMenu">
      <button mat-menu-item>
        <div [innerHTML]="firmwarePopover"></div>
      </button>
    </mat-menu>
  </div>

  <!-- Connected Device Serial-->
  <div class="row pad-top">
    <div class="col-4">Serial number:</div>
    <div class="col-8">{{ device.metadata.serialNumber ?? "N/A" }}</div>
  </div>

  <!-- WAHTS-specific fields -->
  <ng-container *ngIf="device.type === DeviceType.Wahts">

    <!-- Description -->
    <div class="row pad-top">
      <div class="col-4">Description:</div>
      <div class="col-8">{{ wahtsDevice?.metadata?.description ?? "N/A" }}</div>
    </div>

    <!-- Calibration Date -->
    <div class="row pad-top">
      <div class="col-4">Calibration Date:</div>
      <div class="col-8">{{ wahtsDevice?.metadata?.calibrationDate ?? "N/A" }}</div>
    </div>

    <!-- Battery Level -->
    <div class="row pad-top">
      <div class="col-4">Battery Level:</div>
      <ng-container *ngIf="wahtsDevice?.metadata?.batteryLevel != null; else batteryNA">
        <div class="col-6">
          <div class="progress">
            <div
              class="progress-bar bg-warning"
              role="progressbar"
              [style.width.%]="wahtsDevice!.metadata!.batteryLevel"
              [attr.aria-valuenow]="wahtsDevice!.metadata!.batteryLevel"
              aria-valuemin="0"
              aria-valuemax="100">
            </div>
          </div>
        </div>
        <div class="col-2">{{ wahtsDevice!.metadata!.batteryLevel }}%</div>
      </ng-container>
      <ng-template #batteryNA>
        <div class="col-8">N/A</div>
      </ng-template>
    </div>

    <!-- Auto Shutdown Time -->
    <div class="row pad-top">
      <div class="col-4">Auto Shutdown Time:</div>
      <div class="col-4">{{ wahtsDevice?.metadata?.autoShutdownTime != null ? (wahtsDevice?.metadata?.autoShutdownTime + ' mins') : 'N/A' }}</div>
      <div class="col-1"></div>
      <div class="col-1" title="{{ 'Auto Shutdown Time Help' | transloco }}">
        <i [matMenuTriggerFor]="shutdownTimerMenu" class="ion-help-circled"></i>
      </div>
      <mat-menu #shutdownTimerMenu="matMenu">
        <button mat-menu-item>
          <div [innerHTML]="setShutdownTimerPopover"></div>
        </button>
      </mat-menu>
    </div>

  </ng-container>
</div>
