<div class="device-card">

  <div class="device-card-header">
    <div>
      <span class="admin-labels">Device Name:</span>
      <em>{{ device.name }}</em>
    </div>
    <div>
      <span class="admin-labels">State:</span>
      <em *ngIf="device.state === DeviceState.Connected"> Connected</em>
      <em *ngIf="device.state === DeviceState.Disconnected"> Not Connected</em>
      <em *ngIf="device.state !== DeviceState.Connected && device.state !== DeviceState.Disconnected"> Connecting...</em>
    </div>
  </div>

  <div class="device-card-actions">
    <div [ngSwitch]="device.state">
      <button *ngSwitchDefault class="btn btn-primary btn-block" (click)="disconnect()">Cancel</button>
      <button
        *ngSwitchCase="DeviceState.Disconnected"
        class="btn btn-primary btn-block"
        [disabled]="!bluetoothConnected"
        [ngClass]="!bluetoothConnected ? 'disabled custom-disabled' : ''"
        (click)="reconnect()">
        Connect
      </button>
      <button *ngSwitchCase="DeviceState.Connected" class="btn btn-primary btn-block" (click)="disconnect()">Disconnect</button>
    </div>
    <button class="btn btn-primary btn-block" (click)="remove()">Remove</button>
  </div>

  <button
    class="device-card-settings-toggle"
    (click)="toggleSettings()"
    [attr.aria-expanded]="settingsExpanded">
    <i [class]="settingsExpanded ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
    <span>Settings</span>
  </button>

  <div [ngbCollapse]="!settingsExpanded">
    <app-device-info-view [device]="device"></app-device-info-view>

    <div *ngIf="device.type === DeviceType.Wahts">
      <div class="cha-info-space-fix">

      <!-- Preferences -->
      <div class="row pad-top">
        <div class="col-12">
          <h5>Preferences</h5>

          <div class="row pad-top">
            <div class="col-6">
              <label [for]="'disableAudioStreaming-' + device.deviceId">Disable Audio Streaming:</label>
            </div>
            <div class="col-2">
              <input
                [id]="'disableAudioStreaming-' + device.deviceId"
                type="checkbox"
                [ngModel]="disk.preferences.disableAudioStreaming"
                (change)="toggleDisableAudioStreaming()" />
            </div>
          </div>

        </div>
      </div>

      <!-- Headset Media -->
      <div class="row pad-top">
        <div class="col-12">
          <h5>Headset Media</h5>

          <div class="row pad-top">
            <div class="col-6">
              <label [for]="'enableHeadsetMediaManagement-' + device.deviceId">Enable Headset Media Management:</label>
            </div>
            <div class="col-2">
              <input
                [id]="'enableHeadsetMediaManagement-' + device.deviceId"
                type="checkbox"
                [ngModel]="disk.preferences.enableHeadsetMediaManagement"
                (change)="toggleEnableHeadsetMediaManagement()" />
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>

  </div>

</div>
