<a href="#maincontent" class="skip-to-content">Skip to main content</a>
<header-view>Admin View</header-view>

<!-- Body -->
<main id="maincontent">
<div class="has-header admin">

  <div class="questionbox admin-page">

    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <button ngbNavLink>Setup</button>
        <ng-template ngbNavContent>
          <p>
            <config-view></config-view>
          </p>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <button ngbNavLink>Protocols</button>
        <ng-template ngbNavContent>
          <p>
            <protocols-view></protocols-view>
          </p>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <button ngbNavLink>Results</button>
        <ng-template ngbNavContent>
          <p>
            <results-view></results-view>
          </p>
        </ng-template>
      </li>
      <li [ngbNavItem]="4">
        <button ngbNavLink>Exam View</button>
        <ng-template ngbNavContent>
          <p>
            <exam-view></exam-view>
          </p>
        </ng-template>
      </li>
    </ul>
    
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  
  </div>
</div>
</main>

<!-- Active Task Footer -->
<!-- <active-tasks></active-tasks> -->

