<p class="instructions">Press submit to start the exam.</p>

<div class="input-parameters-container">
    <table class="input-parameters-table">
        <thead>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Start Frequency [Hz]</td>
                <td>{{fStart}}</td>
            </tr>
            <tr>
                <td>End Frequency [Hz]</td>
                <td>{{fEnd}}</td>
            </tr>
            <tr>
                <td>Sweep Duration [s]</td>
                <td>{{sweepDuration}}</td>
            </tr>
            <tr>
                <td>Sweep Type</td>
                <td>{{sweepType}}</td>
            </tr>
            <tr>
                <td>Level</td>
                <td>{{level}}</td>
            </tr>
            <tr>
                <td>Number of Sweeps</td>
                <td>{{numSweeps}}</td>
            </tr>
            <tr>
                <td>Window Duration [s]</td>
                <td>{{windowDuration}}</td>
            </tr>
            <tr>
                <td>Number of Frequencies</td>
                <td>{{numFrequencies}}</td>
            </tr>
            <tr>
                <td>Filename</td>
                <td>{{filename}}</td>
            </tr>
            <tr>
                <td>OutputRawMeasurements</td>
                <td>{{outputRawMeasurements}}</td>
            </tr>
        </tbody>
    </table>
</div>