<div id="config">
    <p>{{title}}</p>
    
    
    <p>example buttons to test file service</p>



    <button (click)="logTest()"> log page-m </button>

    <button (click)="fileService.checkPermissions()"> Check Permissions </button>
    <button (click)="fileService.requestPermissions()"> Request Permissions </button>
    
    <button (click)="fileService.writeFile('testing/test.txt','This is a test')"> Write File </button>
    <button (click)="fileService.readFile('testing/test.txt')"> Read File </button>
    <button (click)="fileService.createDirectory('testing2')"> Create Dir </button>
    <button (click)="fileService.listDirectory('testing')"> Read Dir </button>

    <mat-expansion-panel class="panel panel-default" [(expanded)]="state.paneState.general">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'TabSINT'| translate}}
                <!-- <i class='pull-right glyphicon' [ngClass]='{"glyphicon-chevron-up": state.paneState.general, "glyphicon-chevron-down": !state.paneState.general}'></i> -->
            </mat-panel-title>
        </mat-expansion-panel-header>
           
        <div class="panel-body text-left">

            <!-- Headset -->
            <div class="row pad-top">
                <div class="col-5">
                    <label translate for="defaultHeadset">Default Headset:</label>
                </div>
                <div ngbDropdown class="col-5 dropdown-width" display="dynamic">                            
                    <button type="button" class="btn btn-default btn-block dropdown-toggle" id="defaultHeadset" ngbDropdownToggle>
                        {{disk.headset}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="defaultHeadset">
                        <button *ngFor="let headset of headsets" ngbDropdownItem (click)="changeHeadset(headset)">{{headset}}</button>
                    </div>
                </div>

                <div class="col-1">
                    <i [matMenuTriggerFor]= "headsetMenu" class="ion-help-circled"></i>
                </div>
                <mat-menu #headsetMenu="matMenu">
                    <button mat-menu-item>
                        <div [innerHTML]="headsetPopover"></div>
                    </button>
                </mat-menu>

            </div>

            <!-- Select Language -->
            <div class="row pad-top">
                <div class="col-5">
                    <label translate for="selectLanguage">Select Language:</label>
                </div>
                <div ngbDropdown class="col-5 dropdown-width" display="dynamic">                            
                    <button type="button" class="btn btn-default btn-block dropdown-toggle" id="selectLanguage" ngbDropdownToggle>
                        {{disk.language}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="selectLanguage">
                        <button *ngFor="let language of languages" ngbDropdownItem (click)="changeLanguage(language)">{{language | translate}}</button>
                    </div>
                </div>

                <div class="col-1">
                    <i [matMenuTriggerFor]= "languageMenu" class="ion-help-circled"></i>
                </div>
                <mat-menu #languageMenu="matMenu">
                    <button mat-menu-item>
                        <div [innerHTML]="languagePopover"></div>
                    </button>
                </mat-menu>

            </div>

            <!-- Show Advanced -->
            <div class="row showhideSection">
                <div class="col-12 text-center">
                    <a href="javascript:" (click)="state.paneState.advanced = !state.paneState.advanced">
                        <span *ngIf="state.paneState.advanced" translate>
                            Hide Advanced Settings 
                            <i class="ion-chevron-up"></i>
                        </span>
                        <span *ngIf="!state.paneState.advanced" translate>
                            Show Advanced Settings 
                            <i class="ion-chevron-down"></i>
                        </span>
                    </a>
                </div>
            </div>

            <div #collapse="ngbCollapse" [(ngbCollapse)]="!state.paneState.advanced">
                
                <div class="row pad-top">
                    <div class="col-12">
                        <h5>Preferences</h5>
                    </div>
                </div>

                <!-- Admin Mode -->
                <div class="row pad-top">
                    <div class="col-6"><label translate for="adminMode">Admin Mode:</label></div>
                    <div class="col-2"><input id="adminMode" type="checkbox" [checked]="disk.debugMode" (change)="adminService.toggleDebugMode(disk.debugMode)" /></div>
                    <div class="col-2"></div>
                    <div class="col-1">
                        <i [matMenuTriggerFor]= "adminHelpMenu" class="ion-help-circled"></i>
                    </div>
                    <mat-menu #adminHelpMenu="matMenu">
                        <button mat-menu-item>
                            <div [innerHTML]="adminPopover"></div>
                        </button>
                    </mat-menu>
                </div>

                <div class="row pad-top">
                    <div class="col-6">Admin PIN:</div>
                    <div class="col-2">{{disk.pin}}</div>
                    <!-- <div class="col-1"><a href="javascript:" title="{{'Admin PIN edit' | translate}}"
                        (click)="changePin.editAdminPin()"><i class="ion-edit"></i></a>
                    </div> -->
                    <div class="col-1"><a href="javascript:" title="{{'Admin PIN edit' | translate}}"
                        (click)="changePin()"><i class="ion-edit"></i></a>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-1">
                        <i [matMenuTriggerFor]= "adminPinMenu" class="ion-help-circled"></i>
                    </div>
                    <mat-menu #adminPinMenu="matMenu">
                        <button mat-menu-item>
                            <div [innerHTML]="adminPinPopover"></div>
                        </button>
                    </mat-menu>
                </div>


            </div>


        </div>

    </mat-expansion-panel>


    <!-- WAHTS -->
    <mat-expansion-panel class="panel panel-default" [(expanded)]="!state.paneState.cha">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'WAHTS'| translate}}
                <!-- <i class='pull-right glyphicon' [ngClass]='{"glyphicon-chevron-up": state.paneState.general, "glyphicon-chevron-down": !state.paneState.general}'></i> -->
            </mat-panel-title>
        </mat-expansion-panel-header>
           
        <div class="panel-body text-left">

        </div>

    </mat-expansion-panel>



    <!-- Svantek Dosimeter -->
    <mat-expansion-panel class="panel panel-default" [(expanded)]="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'Dosimeter'| translate}}
                <!-- <i class='pull-right glyphicon' [ngClass]='{"glyphicon-chevron-up": state.paneState.general, "glyphicon-chevron-down": !state.paneState.general}'></i> -->
            </mat-panel-title>
        </mat-expansion-panel-header>
           
        <div class="panel-body text-left">

        </div>

    </mat-expansion-panel>


    <!-- Software and Hardware Status -->
    <mat-expansion-panel class="panel panel-default" [(expanded)]="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'Software and Hardware'| translate}}
                <!-- <i class='pull-right glyphicon' [ngClass]='{"glyphicon-chevron-up": state.paneState.general, "glyphicon-chevron-down": !state.paneState.general}'></i> -->
            </mat-panel-title>
        </mat-expansion-panel-header>
           
        <div class="panel-body text-left">

        </div>

    </mat-expansion-panel>


    <!-- Log view -->
    <mat-expansion-panel class="panel panel-default" [(expanded)]="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'Application Log'| translate}}
                <!-- <i class='pull-right glyphicon' [ngClass]='{"glyphicon-chevron-up": state.paneState.general, "glyphicon-chevron-down": !state.paneState.general}'></i> -->
            </mat-panel-title>
        </mat-expansion-panel-header>
           
        <div class="panel-body text-left">

        </div>

    </mat-expansion-panel>


</div>
