

<!-- Tympans -->
<mat-expansion-panel class="panel panel-default" [(expanded)]="state.isPaneOpen.tympans">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{'Tympans'| translate}}
        </mat-panel-title>
    </mat-expansion-panel-header>
       
    <div class="panel-body text-left">
        <div class="row pad-top" *ngIf="devices.connectedDevices.tympan.length > 0">

            <!-- Device ID -->
            <div class="col-2 admin-labels">TabSINT ID: </div>
            <div class="col-1"><em>{{devices.connectedDevices.tympan[0].tabsintId}}</em></div>
            <div class="col-1"><em> <span (click)="expanded = !expanded"> <i class="ion-information-circled"></i> </span> </em></div>

            <!-- Name -->
            <div class="col-2 admin-labels">DeviceName: </div>
            <div class="col-3"><em>{{devices.connectedDevices.tympan[0].name}}</em></div>

            <!-- State -->
            <div class="col-1 admin-labels">State: </div>
            <div class="col-2" *ngIf="devices.connectedDevices.tympan[0].state === DeviceState.Connected"><em>Connected</em></div>
            <div class="col-2" *ngIf="devices.connectedDevices.tympan[0].state === DeviceState.Disconnected"><em>Not Connected</em></div>
            <div class="col-2" *ngIf="devices.connectedDevices.tympan[0].state === DeviceState.Reprogram"><em>Reprogramming</em></div>
            <div class="col-2" *ngIf="devices.connectedDevices.tympan[0].state !== DeviceState.Connected && devices.connectedDevices.tympan[0].state !== DeviceState.Disconnected && devices.connectedDevices.tympan[0].state !== DeviceState.Reprogram"><em>Connecting</em></div>
        
            <!-- Connection Buttons-->
            <div class="row pad-top">
                <div class="col-4" [ngSwitch]="devices.connectedDevices.tympan[0].state">
                    <button *ngSwitchDefault class="btn btn-primary btn-block disabled custom-disabled">Connect</button>
                    <button *ngSwitchCase="DeviceState.Disconnected" class="btn btn-primary btn-block" [disabled]="!state.bluetoothConnected" 
                        [ngClass]="!state.bluetoothConnected ? 'disabled custom-disabled': ''" (click)="reconnect(devices.connectedDevices.tympan[0])">Connect</button>
                </div>
                <div class="col-4" [ngSwitch]="devices.connectedDevices.tympan[0].state">
                    <button *ngSwitchDefault class="btn btn-primary btn-block disabled custom-disabled">Disconnect</button>
                    <button *ngSwitchCase="DeviceState.Connected" class="btn btn-primary btn-block" (click)="disconnect(devices.connectedDevices.tympan[0])">Disconnect</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-primary btn-block" (click)="remove(devices.connectedDevices.tympan[0])">Remove</button>
                </div>
            </div>
        
        
            <!-- Connected Tympan -->
            <div *ngIf="devices.connectedDevices.tympan[0].state === DeviceState.Connected">
                <div #collapse="ngbCollapse" [ngbCollapse]="!expanded">
                    <device-info-view></device-info-view>
                </div>
            </div>
        </div>
    </div>

</mat-expansion-panel>


<!-- <div class="row pad-top">
    <div class="col-12">
        <h5>CHA</h5>
    </div>
</div> -->

<!-- <div class="row pad-top">
    <div class="col-12">
        <h5>Svantek</h5>
    </div>
</div> -->

<!-- <div class="row pad-top">
    <div class="col-12">
        <h5>Other</h5>
    </div>
</div> -->