<!-- Devices -->
<ng-container *ngFor="let entry of connectedDevicesMap | async | keyvalue">
  <mat-expansion-panel class="panel panel-default" [(expanded)]="state.isPaneOpen.tympans">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ entry.key | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="panel-body text-left">
      <ng-container *ngFor="let device of entry.value">
        <!-- Select Devices-->
        <div class="row pad-top">
          <!-- Device ID -->
          <div class="col-2 admin-labels text-scale">TabSINT ID:</div>
          <div class="col-1 text-scale text-line-truncate">
            <em>{{ device.tabsintId }}</em>
          </div>
          <div class="col-1 text-scale">
            <em>
              <span (click)="expanded = !expanded" (keydown.enter)="expanded = !expanded"> <i class="ion-information-circled"></i> </span>
            </em>
          </div>

          <!-- Name -->
          <div class="col-2 admin-labels text-scale">DeviceName:</div>
          <div class="col-3 text-scale">
            <em>{{ device.name }}</em>
          </div>

          <!-- State -->
          <div class="col-1 admin-labels text-scale">State:</div>
          <div class="col-2 text-scale" *ngIf="device.state === DeviceState.Connected"><em>Connected</em></div>
          <div class="col-2 text-scale" *ngIf="device.state === DeviceState.Disconnected"><em>Not Connected</em></div>
          <div class="col-2 text-scale" *ngIf="device.state === DeviceState.Reprogram"><em>Reprogramming</em></div>
          <div
            class="col-2 text-scale"
            *ngIf="device.state !== DeviceState.Connected && device.state !== DeviceState.Disconnected && device.state !== DeviceState.Reprogram">
            <em>Connecting</em>
          </div>

          <!-- Connection Buttons-->
          <div class="row pad-top">
            <div class="col-4" [ngSwitch]="device.state">
              <button *ngSwitchDefault class="btn btn-primary btn-block disabled custom-disabled">Connect</button>
              <button
                *ngSwitchCase="DeviceState.Disconnected"
                class="btn btn-primary btn-block"
                [disabled]="!state.bluetoothConnected"
                [ngClass]="!state.bluetoothConnected ? 'disabled custom-disabled' : ''"
                (click)="reconnect(device)">
                Connect
              </button>
            </div>
            <div class="col-4" [ngSwitch]="device.state">
              <button *ngSwitchDefault class="btn btn-primary btn-block disabled custom-disabled">Disconnect</button>
              <button *ngSwitchCase="DeviceState.Connected" class="btn btn-primary btn-block" (click)="disconnect(device)">Disconnect</button>
            </div>
            <div class="col-4">
              <button class="btn btn-primary btn-block" (click)="remove(device)">Remove</button>
            </div>
          </div>

          <div #collapse="ngbCollapse" [ngbCollapse]="!expanded">
            <device-info-view [device]="device"></device-info-view>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-expansion-panel>
  <br />
</ng-container>
