<div class="row pad-top" translate>
    <div class="col-12">
        TabSINT is developed by <a href="https://www.creare.com/">Creare</a> and available open source on <a
            href="https://gitlab.com/creare-com/tabsint">gitlab.com/creare-com/tabsint</a>.
    </div>
</div>

<br />

<div class="row">
    <div class="col-12">
        <h5>{{'Version' | translate}}</h5>
    </div>
</div>

<ul class="admin-info">
    <li>
        <b>TabSINT:</b>
        <span>{{version.tabsint}}</span>
    </li>
    <!-- <li (click)="toggleAppDeveloperMode()">
        <b>{{'Build Name' | translate}}:</b>
        <span>
            {{config.build}}
            <span *ngIf="disk.appDeveloperMode">
                - App-Developer Mode is on <button class="btn btn-default"
                    (click)="toggleAppDeveloperMode()">Turn Off</button>
            </span>
            <span *ngIf="!disk.appDeveloperMode && disk.appDeveloperModeCount > 1">
                - Tap {{5-disk.appDeveloperModeCount}} more times to turn on App-Developer Mode
            </span>
        </span>
    </li> -->
    <li>
        <b>{{'Build Date' | translate}}:</b>
        <span>{{version.date | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
    </li>
</ul>

<br />

<div class="row">
    <div class="col-12">
        <h5>{{'Device' | translate}}</h5>
    </div>
</div>
<ul class="admin-info">
    <li>
        <b>{{'Device UUID' | translate}}:</b>
        <span>{{devices.uuid}}</span>
    </li>
    <li>
        <b>{{'TabSINT UUID' | translate}}:</b>
        <span>{{devices.tabsintUUID}}</span>
    </li>
    <li>
        <b>{{'Device Model' | translate}}:</b>
        <span>{{devices.model}}</span>
    </li>
    <li>
        <b>{{'Operating System' | translate}}:</b>
        <span>{{devices.platform}} {{devices.version}}</span>
    </li>
    <li>
        <b>{{'Free Disk Space' | translate}}:</b>
        <span>{{devices.diskspace}} MB</span>
    </li>
    <li>
        <b>{{'Network Status' | translate}}:</b>
        <span *ngIf="networkModel.status">{{'Online' | translate}}</span>
        <span *ngIf="!networkModel.status">{{'Offline' | translate}}</span>
    </li>
    <!-- <li>
        <b>{{'Network Type' | translate}}:</b>
        <span>{{networkModel.type}}</span>
    </li> -->
</ul>

<br />

<div class="row">
    <div class="col-12">
        <h5>{{'Plugins' | translate}}</h5>
    </div>
</div>
<ul class="admin-info">
    <div *ngFor="let plugin of config.tabsintPlugins | keyvalue">
        <li>
            <b>{{plugin.key}}:</b>
            <span>{{plugin.value.version}}</span>
        </li>
    </div>
</ul>

<br />

<div class="row">
    <div class="col-12">
        <h5>{{'Build Details' | translate}}</h5>
    </div>
</div>
<ul class="admin-info">
    <li>
        <b>{{'Capacitor Version' | translate}}:</b>
        <span>{{version?.deps?.capacitor}}</span>
    </li>
    <li>
        <b>{{'Node Version' | translate}}:</b>
        <span>{{version?.deps?.node}}</span>
    </li>
    <li>
        <b>{{'Build System' | translate}}:</b>
        <span>{{version?.deps?.user_agent}}</span>
    </li>
</ul>

<br />