.multi-choice-container {
  margin-left: auto;
  margin-right:auto;
  display: inline-block;
  padding-left:30px;
  padding-right:30px;
}

.multi-choice-container button {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 350px) {
  .multi-choice-container button {
    min-width: 300px;
  }
}