<div>
  
  <div class="row" *ngFor="let choice of choices; let i = index">
    <button class="checkbox-button" (click)="choiceSelected(choice.id)"> {{choice.text}} </button>
  </div>
  <div class="row" *ngIf="other">
    <button (click)="toggleOther()"> {{other}} </button>
  </div>
  <div class="row" *ngIf="otherSelected">
    <textarea
      [(ngModel)]="results.currentPage.response"
      (ngModelChange)="onResponseChange()"
      (keydown.enter)="onEnter()"
      rows="5"
      autofocus="true"
      maxlength="5000">
    </textarea>
  </div>

</div>
