.tympan-logo {
    content:"";
    background-image: url("/assets/img/WAHTS-indicator.png");
    height: 1em;
    width: 1em;
    display: inline-block;
    background-position: center;
    background-size: cover;
}