<!-- Bluetooth Message-->
<div class="row pad-top" *ngIf="!state.bluetoothConnected">
  <div class="col-10 text-warning"><em>Bluetooth radio disabled</em></div>
</div>

<!-- Add a new connection -->
<app-new-connection></app-new-connection>

<!-- Spacing -->
<br /><br />

<!-- View and manage connected devices -->
<app-connected-devices></app-connected-devices>

<!-- Show Advanced -->
<div class="row showhideSection">
  <div class="col-12 text-center">
    <a href="javascript:" (click)="state.isPaneOpen.deviceAdvanced = !state.isPaneOpen.deviceAdvanced">
      <span *ngIf="state.isPaneOpen.deviceAdvanced">
        {{ "Hide Advanced Settings" | transloco }}
        <i class="ion-chevron-up"></i>
      </span>
      <span *ngIf="!state.isPaneOpen.deviceAdvanced">
        {{ "Show Advanced Settings" | transloco }}
        <i class="ion-chevron-down"></i>
      </span>
    </a>
  </div>
</div>

<div #collapse="ngbCollapse" [ngbCollapse]="!state.isPaneOpen.deviceAdvanced">
  <div class="row pad-top">
    <div class="col-12">
      <h5>Preferences</h5>

      <!-- WAHTS Connection Type -->
      <div class="row pad-top">
        <div class="col-6"><label for="wahtsConnectionType">{{ "WAHTS Connection Type:" | transloco }}</label></div>
        <div ngbDropdown class="col-2 dropdown-width" display="dynamic">
          <button type="button" class="btn btn-default btn-block dropdown-toggle" id="wahtsConnectionType" ngbDropdownToggle>
            {{ disk.preferences.wahtsConnectionType }}
          </button>
          <div ngbDropdownMenu aria-labelledby="wahtsConnectionType">
            <button *ngFor="let bluetoothType of BluetoothType | keyvalue" ngbDropdownItem (click)="changeWahtsConnectionType(bluetoothType.value)">
              {{ bluetoothType.value }}
            </button>
          </div>
        </div>
        <div class="col-2"></div>
        <div class="col-1" title="{{ 'WAHTS Communication Help' | transloco }}">
          <i [matMenuTriggerFor]="wahtsCommunicationHelpMenu" class="ion-help-circled"></i>
        </div>
        <mat-menu #wahtsCommunicationHelpMenu="matMenu">
          <button mat-menu-item>
            <div [innerHTML]="wahtsCommunicationPopover"></div>
          </button>
        </mat-menu>
      </div>

      <!-- Ignore Firmware Updates -->
      <div class="row pad-top">
        <div class="col-6"><label for="ignoreFirmwareUpdates">{{ "Ignore Firmware Updates:" | transloco }}</label></div>
        <div class="col-2">
          <input
            id="ignoreFirmwareUpdatesID"
            type="checkbox"
            [ngModel]="disk.preferences.ignoreFirmwareUpdates"
            (change)="toggleIgnoreFirmwareUpdates()" />
        </div>
        <div class="col-2"></div>
        <div class="col-1" title="{{ 'Ignore Firmware Updates Help' | transloco }}">
          <i [matMenuTriggerFor]="ignoreFirmwareUpdatesHelpMenu" class="ion-help-circled"></i>
        </div>
        <mat-menu #ignoreFirmwareUpdatesHelpMenu="matMenu">
          <button mat-menu-item>
            <div [innerHTML]="ignoreFirmwareUpdatesPopover"></div>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>

  <div class="row pad-top">
    <div class="col-12">
      <h5>Firmware</h5>

      <!-- WAHTS Firmware Information -->
      <div class="row pad-top">
        <div class="col-6">WAHTS Firmware Tag:</div>
        <div class="col-4">{{ (wahtsFirmwareAsset | async)?.version ?? "--" }}</div>
        <div class="col-1"></div>
        <div class="col-1" title="{{ 'WAHTS Firmware Help' | transloco }}">
          <i [matMenuTriggerFor]="wahtsFirmwareHelpMenu" class="ion-help-circled"></i>
        </div>
        <mat-menu #wahtsFirmwareHelpMenu="matMenu">
          <button mat-menu-item>
            <div [innerHTML]="wahtsFirmwarePopover"></div>
          </button>
        </mat-menu>
      </div>

      <div class="row pad-top">
        <div class="col-6">WAHTS Firmware Build Time:</div>
        <div class="col-4">{{ (wahtsFirmwareAsset | async)?.buildDatetime ?? "--" }}</div>
        <div class="col-1"></div>
        <div class="col-1" title="{{ 'WAHTS Firmware Help' | transloco }}">
          <i [matMenuTriggerFor]="wahtsFirmwareHelpMenu" class="ion-help-circled"></i>
        </div>
        <mat-menu #wahtsFirmwareHelpMenu="matMenu">
          <button mat-menu-item>
            <div [innerHTML]="wahtsFirmwarePopover"></div>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>
