<a href="#maincontent" class="skip-to-content">Skip to main content</a>
<header-view></header-view>

<!-- Body -->
<main id="maincontent">
  <div class="has-header">

    <!-- <div *ngIf="protocol.protocolTabsintOutdated" style="background-color:#F25858; color: white; padding: 20px; text-align: center;" (click)="link('builds')">
        This protocol requires a newer version of TabSINT. Press here to update to the latest version.
    </div> -->
    <!-- <div *ngIf="protocol.activeProtocol?.protocolUsbCMissing" style="background-color:#F25858; color: white; padding: 20px; text-align: center;">
        This protocol requires the Essential USB-C headset. Please plug the headset in prior to beginning the exam.
    </div> -->

    <div class="questionbox exam-page">

      <div class="question">
  
        <!-- Change which template we show based on what "mode" the exam is in. -->
        <div [ngSwitch]="state.examState">
          <div *ngSwitchCase="ExamState.Ready">
            <exam-ready-view></exam-ready-view>
          </div>
          <div *ngSwitchCase="ExamState.NotReady">
            <exam-not-ready-view></exam-not-ready-view>
          </div>
          <div *ngSwitchCase="ExamState.Testing">
            <exam-testing-view></exam-testing-view>
          </div>
          <div *ngSwitchCase="ExamState.Finalized">
            <exam-finalized-view></exam-finalized-view>
          </div>
        </div>

      <!-- Debugging display. -->
      <debug-view></debug-view>

      <!-- add space for keyboard -->
      <div class="keyboard-spacer" [style]="adminService.keyboardStyle"></div>
  
      </div>
    </div>

  </div>
</main>

<!-- Active Task overlay -->
<!-- <active-tasks></active-tasks> -->

<!-- Footer (incl. buttons) -->
<nav class="navbar-fixed-bottom exam-footer">
    <div class="container-fluid">
      <div class="row response-buttons" *ngIf="state.examState===ExamState.Ready">
        <div class="col-6">
          <button id="help-btn" type="button"
                  class="btn btn-block btn-lg btn-default btn-centered"
                  [ngClass]="(examService.currentPage?.helpText)?'':'disabled custom-disabled'"
                  (click)="examService.help()">
            <span class="ion-help-circled"></span> {{'Help'|translate}}
          </button>
        </div>
        <div class="col-6">
          <button id="begin-btn" type="button"
                  class="btn btn-block btn-lg btn-primary btn-centered"
                  (click)="examService.begin()"
                  *ngIf="state.examState===ExamState.Ready">
            {{'Begin'|translate}}
          </button>
        </div>
      </div>
      <div *ngIf="state.examState===ExamState.Testing">
        <div class="row response-buttons" *ngIf="(disk.debugMode && disk.adminSkipMode) || examService.currentPage?.responseArea?.enableSkip">
          <div class="col-4">
            <button id="help-btn" type="button"
                    class="btn btn-block btn-lg btn-default btn-centered"
                    [ngClass]="(examService.currentPage?.helpText)?'':'disabled custom-disabled'"
                    *ngIf="!examService.currentPage?.enableBackButton"
                    (click)="examService.help()">
              <span class="ion-help-circled"></span> {{'Help'|translate}}
            </button>
            <button id="back-btn" type="button"
                class="btn btn-block btn-lg btn-default btn-centered"
                [ngClass]="(state.canGoBack())?'':'disabled custom-disabled'"
                *ngIf="!!examService.currentPage?.enableBackButton"
                (click)="examService.back()">
              <span class="ion-arrow-left"></span> {{'Back'|translate}}
            </button>
          </div>
          <div class="col-4">
            <button id="submit-btn" type="button"
                    class="btn btn-block btn-lg btn-primary btn-centered"
                    (click)="examService.skip()">
              <span class="ion-arrow-right"></span> {{'Skip'|translate}}
            </button>
          </div>
          <div class="col-4">
            <button id="submit-btn" type="button"
                    class="btn btn-block btn-lg btn-primary btn-centered"
                    [ngClass]="(state.isSubmittable)?'':'disabled custom-disabled'"
                    [disabled]= "!state.isSubmittable"
                    (click)="examService.submit()">
                <div *ngIf="examService.currentPage?.submitText"> {{examService.currentPage?.submitText}}</div>
                <div *ngIf="examService.currentPage?.submitText===undefined"> {{'Submit' | translate}}</div>
            </button>
          </div>
        </div>
        <div class="row response-buttons" *ngIf="!((disk.debugMode && disk.adminSkipMode) || examService.currentPage?.responseArea?.enableSkip)">
          <div class="col-6">
            <button id="help-btn" type="button"
                    class="btn btn-block btn-lg btn-default btn-centered"
                    [ngClass]="(examService.currentPage?.helpText)?'':'disabled custom-disabled'"
                    *ngIf="!examService.currentPage?.enableBackButton"
                    (click)="examService.help()">
              <span class="ion-help-circled"></span> {{'Help'|translate}}
            </button>
            <button id="back-btn" type="button"
                class="btn btn-block btn-lg btn-default btn-centered"
                [ngClass]="state.canGoBack() ? '' : 'disabled custom-disabled'"
                [disabled]= "!state.canGoBack()"
                *ngIf="!!examService.currentPage?.enableBackButton"
                (click)="examService.back()">
              <span class="ion-arrow-left"></span> {{'Back'|translate}}
            </button>
          </div>
          <div class="col-6">
            <button id="submit-btn" type="button"
                    class="btn btn-block btn-lg btn-primary btn-centered"
                    [ngClass]="(state.isSubmittable)?'':'disabled custom-disabled'"
                    [disabled]= "!state.isSubmittable"
                    (click)="examService.submit()">
                <div *ngIf="examService.currentPage?.submitText"> {{examService.currentPage?.submitText}}</div>
                <div *ngIf="examService.currentPage?.submitText===undefined"> {{'Submit' | translate}}</div>
            </button>
          </div>
        </div>
      </div>
      <div class="row response-buttons" *ngIf="state.examState===ExamState.Finalized">
        <div class="col-6">
          <button id="help-btn" type="button"
                  class="btn btn-block btn-lg btn-default btn-centered"
                  [ngClass]="(examService.currentPage?.helpText)?'':'disabled custom-disabled'"
                  (click)="examService.help()">
            <span class="ion-help-circled"></span> {{'Help'|translate}}
          </button>
        </div>
        <div class="col-6">
          <button id="reset-btn" type="button"
                  class="btn btn-block btn-lg btn-success btn-centered"
                  (click)="examService.reset()"> {{'New Exam'|translate}}
          </button>
        </div>
      </div>
    </div>
  </nav>
  