<a href="#maincontent" class="skip-to-content">Skip to main content</a>
<header-view></header-view>

<!-- Body -->
<main id="maincontent">
    <div class="has-header">

        <!-- <div *ngIf="protocol.protocolTabsintOutdated" style="background-color:#F25858; color: white; padding: 20px; text-align: center;" (click)="link('builds')">
            This protocol requires a newer version of TabSINT. Press here to update to the latest version.
        </div> -->
        <!-- <div *ngIf="protocol.activeProtocol.protocolUsbCMissing" style="background-color:#F25858; color: white; padding: 20px; text-align: center;">
            This protocol requires the Essential USB-C headset. Please plug the headset in prior to beginning the exam.
        </div> -->

        <div class="questionbox exam-page">

            <div class="question">
        
                <!-- Change which template we show based on what "mode" the exam is in. -->

                <!-- Here we need to include the files from src/scripts/routes/exam/state from old tabsint -->
                <div [ngSwitch]="results.state.mode">
                    <div *ngSwitchCase="'READY'">
                        READY
                    </div>
                    <div *ngSwitchCase="'NOT-READY'">
                        NOT-READY
                    </div>
                    <div *ngSwitchCase="'TESTING'">
                        TESTING
                    </div>
                    <div *ngSwitchCase="'FINALIZED'">
                        FINALIZED
                    </div>
                </div>
        
              <!-- Debugging display. -->
              <debug-view></debug-view>
        
              <!-- add space for keyboard -->
              <div class="keyboard-spacer" [style]="adminService.keyboardStyle"></div>
        
            </div>
        </div>

    </div>
</main>

<!-- Active Task overlay -->
<!-- <active-tasks></active-tasks> -->



<!-- Footer (incl. buttons) -->
<nav class="navbar-fixed-bottom exam-footer">
    <div class="container-fluid">
      <div class="row response-buttons" *ngIf="results.state.mode==='READY'">
        <div class="col-6">
          <button id="help-btn" type="button"
                  class="btn btn-block btn-lg btn-default"
                  [class]="(results.page.helpText)?'':'disabled custom-disabled'"
                  (click)="examService.help()">
            <span class="glyphicon glyphicon-question-sign"></span> {{'Help'|translate}}
          </button>
        </div>
        <div class="col-6">
          <button id="begin-btn" type="button"
                  class="btn btn-block btn-lg btn-primary"
                  (click)="examService.begin()"
                  *ngIf="results.state.mode==='READY'">
            {{'Begin'|translate}}
          </button>
        </div>
      </div>
      <div *ngIf="results.state.mode==='TESTING'">
        <div class="row response-buttons" *ngIf="(disk.debugMode && disk.adminSkipMode) || results.page.responseArea.enableSkip">
          <div class="col-4">
            <button id="help-btn" type="button"
                    class="btn btn-block btn-lg btn-default"
                    [class]="(results.page.helpText)?'':'disabled custom-disabled'"
                    *ngIf="!results.page.enableBackButton"
                    (click)="examService.help()">
              <span class="glyphicon glyphicon-question-sign"></span> {{'Help'|translate}}
            </button>
            <button id="back-btn" type="button"
                class="btn btn-block btn-lg btn-default"
                [class]="(results.page.canGoBack())?'':'disabled custom-disabled'"
                *ngIf="!!results.page.enableBackButton"
                (click)="examService.back()">
              <span class="glyphicon glyphicon-arrow-left"></span> {{'Back'|translate}}
            </button>
          </div>
          <div class="col-4">
            <button id="submit-btn" type="button"
                    class="btn btn-block btn-lg btn-primary"
                    (click)="examService.skip()">
              <span class="glyphicon glyphicon-arrow-right"></span> {{'Skip'|translate}}
            </button>
          </div>
          <div class="col-4">
            <button id="submit-btn" type="button"
                    class="btn btn-block btn-lg btn-primary"
                    [class]="(results.page.isSubmittable)?'':'disabled custom-disabled'"
                    ng-disabled= "!results.page.isSubmittable"
                    (click)="examService.closeAll(); examService.submit()">
                <div *ngIf="results.page.submitText"> {{results.page.submitText}}</div>
                <div *ngIf="results.page.submitText===undefined"> {{'Submit' | translate}}</div>
            </button>
          </div>
        </div>
        <div class="row response-buttons" *ngIf="!((disk.debugMode && disk.adminSkipMode) || results.page.responseArea.enableSkip)">
          <div class="col-6">
            <button id="help-btn" type="button"
                    class="btn btn-block btn-lg btn-default"
                    [class]="(results.page.helpText)?'':'disabled custom-disabled'"
                    *ngIf="!results.page.enableBackButton"
                    (click)="examService.help()">
              <span class="glyphicon glyphicon-question-sign"></span> {{'Help'|translate}}
            </button>
            <button id="back-btn" type="button"
                class="btn btn-block btn-lg btn-default"
                [class]="results.page.canGoBack() ? '' : 'disabled custom-disabled'"
                ng-disabled= "!results.page.canGoBack()"
                *ngIf="!!results.page.enableBackButton"
                (click)="examService.back()">
              <span class="glyphicon glyphicon-arrow-left"></span> {{'Back'|translate}}
            </button>
          </div>
          <div class="col-6">
            <button id="submit-btn" type="button"
                    class="btn btn-block btn-lg btn-primary"
                    [class]="(results.page.isSubmittable)?'':'disabled custom-disabled'"
                    ng-disabled= "!results.page.isSubmittable"
                    (click)="examService.closeAll(); examService.submit()">
                <div *ngIf="results.page.submitText"> {{results.page.submitText}}</div>
                <div *ngIf="results.page.submitText===undefined"> {{'Submit' | translate}}</div>
            </button>
          </div>
        </div>
      </div>
      <div class="row response-buttons" *ngIf="results.state.mode==='FINALIZED'">
        <div class="col-6">
          <button id="help-btn" type="button"
                  class="btn btn-block btn-lg btn-default"
                  [class]="(results.page.helpText)?'':'disabled custom-disabled'"
                  (click)="examService.help()">
            <span class="glyphicon glyphicon-question-sign"></span> {{'Help'|translate}}
          </button>
        </div>
        <div class="col-6">
          <button id="reset-btn" type="button"
                  class="btn btn-block btn-lg btn-success"
                  (click)="examService.reset()"
                  *ngIf="results.state.mode==='FINALIZED'"> {{'New Exam'|translate}}
          </button>
        </div>
      </div>
  
      <div class="row" style="margin-top: 30px;" *ngIf="!(results.page.hideProgressBar || results.state.mode === 'READY' || results.state.mode === 'FINALIZED')">
        <!-- <uib-progressbar *ngIf="!isString(results.state.progress.pctProgress)" value="results.state.progress.pctProgress"></uib-progressbar> -->
        <!-- <div *ngIf="isString(results.state.progress.pctProgress)" class="progress-words">
            {{results.state.progress.pctProgress}}
        </div> -->
        <div *ngIf="results.state.progress.pctProgress" class="progress-words">
        {{results.state.progress.pctProgress}}
        </div>
  
      </div>
    </div>
  </nav>
  