<div class="cha-info cha-info-space-fix">
    <div class="row">
      <div class="col-12">
        <h5>WAHTS</h5>
      </div>
    </div>
  
    <div class="row pad-top" >
      <div class="col-4">Name:</div>
      <div class="col-8">{{cha.myCha.name}}</div>
    </div>
  
    <!-- Connected Cha Description -->
    <div class="row pad-top">
      <div class="col-4">Description:</div>
      <div class="col-8">{{cha.myCha.id.description}}</div>
    </div>
  
    <!-- Calibration Date -->
    <div class="row pad-top">
      <div class="col-4">Calibration Date: </div>
      <div class="col-8" >{{cha.myCha.id.chaCalibrationDate}}</div>
    </div>
  
  
    <!-- Connected Cha Firmware-->
    <div class="row pad-top">
      <div class="col-4">Firmware:</div>
      <div class="col-8">{{cha.myCha.id.buildDateTime}}</div>
    </div>
  
    <!-- Connected Cha Serial-->
    <div class="row pad-top">
      <div class="col-4">Serial number:</div>
      <div class="col-8">{{cha.myCha.id.serialNumber}}</div>
    </div>
  
    <!-- Battery Level-->
    <div class="row pad-top">
      <div class="col-4">Battery Level:</div>
      <div class="col-4">
        <span class="cha-battery-border" [ngStyle]="{'width': cha.myCha.batteryIndicatorWidth+'%'}">
          <div ng-if="cha.myCha.battery.level() >= 66" class="cha-battery-status" [ngStyle]="{'width': cha.myCha.battery.level()+'%', 'background-color': 'green'}"></div>
          <div ng-if="cha.myCha.battery.level() >= 33 && cha.myCha.battery.level() < 66" class="cha-battery-status" [ngStyle]="{'width': cha.myCha.battery.level()+'%', 'background-color': 'orange'}"></div>
          <div ng-if="cha.myCha.battery.level() < 33"class="cha-battery-status" [ngStyle]="{'width': cha.myCha.battery.level()+'%', 'background-color': 'red'}"></div>
        </span>
  
      </div>
      <div class="col-4"><small>{{cha.myCha.battery.level()}}%</small></div>
    </div>
  
    <!-- Connected Cha Auto Shutdown Time-->
    <div class="row pad-top">
      <div class="col-6">Auto Shutdown Time:</div>
      <div class="col-2">{{cha.myCha.setting["auto_shutdown_time"]}} mins </div>
      <div class="col-2"> </div>
      <div class="col-1" href="javascript:" title="{{'WAHTS Shutdown Timer help' | translate}}">
        <i [matMenuTriggerFor]= "setShutdownTimerMenu" class="ion-help-circled"></i>
    </div>
    <mat-menu #setShutdownTimerMenu="matMenu">
        <button mat-menu-item>
            <div [innerHTML]="setShutdownTimerPopover"></div>
        </button>
    </mat-menu>
  
    </div>
  
</div>
  