<div [ngSwitch]="currentPage.responseArea?.type">
  <app-textbox-view *ngSwitchCase="'textboxResponseArea'"></app-textbox-view>
  <textbox-result-viewer-view *ngSwitchCase="'textboxResponseAreaResultViewer'"></textbox-result-viewer-view>
  <app-likert-view *ngSwitchCase="'likertResponseArea'"></app-likert-view>
  <multiple-input-view *ngSwitchCase="'multipleInputResponseArea'"></multiple-input-view>
  <manual-audiometry-view *ngSwitchCase="'manualAudiometryResponseArea'"></manual-audiometry-view>
  <manual-audiometry-result-viewer-view *ngSwitchCase="'manualAudiometryResponseAreaResultViewer'"></manual-audiometry-result-viewer-view>
  <app-multiple-choice-view *ngSwitchCase="'multipleChoiceResponseArea'"></app-multiple-choice-view>
  <app-custom-response-area-view *ngSwitchCase="'customResponseArea'"></app-custom-response-area-view>
  <app-calibration-exam *ngSwitchCase="'calibrationResponseArea'"></app-calibration-exam>
  <app-fpl-calibration-exam *ngSwitchCase="'fplCalibrationResponseArea'"></app-fpl-calibration-exam>
  <swept-dpoae-exam *ngSwitchCase="'sweptDPOAEResponseArea'"></swept-dpoae-exam>
  <app-mrt-exam *ngSwitchCase="'mrtResponseArea'"></app-mrt-exam>
  <wai-exam *ngSwitchCase="'WAIResponseArea'"></wai-exam>
  <app-memr-exam *ngSwitchCase="'memrResponseArea'"></app-memr-exam>
  <app-subject-id *ngSwitchCase="'subjectIdResponseArea'"></app-subject-id>
  <app-checkbox *ngSwitchCase="'checkboxResponseArea'"></app-checkbox>
  <app-button-grid *ngSwitchCase="'buttonGridResponseArea'"></app-button-grid>
  <app-qr-code-response-area *ngSwitchCase="'qrCodeResponseArea'"></app-qr-code-response-area>
</div>
