<!-- Add new connection (hardcoded to accept one device at a time) -->
<div class="row pad-top" *ngIf="!newDeviceConnection && ((connectedDevices | async)?.length ?? 0) < maxConnectedDevices">
  <div class="col-12">
    <button (click)="addNewConnection()">+ {{ "New Connection" | transloco }}</button>
  </div>
</div>

<!-- Configure new connection -->
<ng-container *ngIf="newDeviceConnection">
  <div class="row pad-top">
    <div class="col-12">
      <h5>{{ "Add New Connection" | transloco }}</h5>
    </div>
  </div>

  <div class="row pad-top">
    <!-- Device Type — selecting a type automatically starts the scan -->
    <div class="col-3">
      <label for="deviceTypeSelect">{{ "Device Type:" | transloco }}</label>
    </div>
    <div ngbDropdown class="col-2 dropdown-width" display="dynamic">
      <button type="button" class="btn btn-default btn-block dropdown-toggle" id="deviceTypeSelect" ngbDropdownToggle>
        {{ newConnectionType ?? ("Select One" | transloco) }}
      </button>
      <div ngbDropdownMenu aria-labelledby="deviceTypeSelect">
        <button *ngFor="let deviceType of deviceTypes" ngbDropdownItem (click)="selectAndScan(deviceType)">{{ deviceType }}</button>
      </div>
    </div>
    <div class="col-2"></div>
  </div>

  <div class="row pad-top">
    <!-- Cancel -->
    <div class="col-4">
      <button class="btn btn-primary btn-block" (click)="cancel()">{{ "Cancel" | transloco }}</button>
    </div>
    <div class="col-2"></div>
  </div>
</ng-container>
