<p class="instructions">Press submit to start the exam.</p>

<div class="input-parameters-container">
    <table class="input-parameters-table">
        <thead>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Start Frequency [Hz]</td>
                <td>{{f2Start}}</td>
            </tr>
            <tr>
                <td>End Frequency [Hz]</td>
                <td>{{f2End}}</td>
            </tr>
            <tr>
                <td>Ratio</td>
                <td>{{frequencyRatio}}</td>
            </tr>
            <tr>
                <td>Sweep Duration [s]</td>
                <td>{{sweepDuration}}</td>
            </tr>
            <tr>
                <td>Window Duration [s]</td>
                <td>{{windowDuration}}</td>
            </tr>
            <tr>
                <td>Sweep Type</td>
                <td>{{sweepType}}</td>
            </tr>
            <tr>
                <td>Minimum Num Sweeps</td>
                <td>{{minSweeps}}</td>
            </tr>
            <tr>
                <td>Maximum Num Sweeps</td>
                <td>{{maxSweeps}}</td>
            </tr>
            <tr>
                <td>Noise Floor Threshold</td>
                <td>{{noiseFloorThreshold}}</td>
            </tr>
        </tbody>
    </table>
</div>