<div class="modal-header">
    Tympan Devices
</div>

<div class="modal-body">
    <button *ngFor="let tympan of availableTympans" (click)="choose(tympan)"
    [ngClass]="selectedTympan?.name==tympan.name ? 'btn cha-selected': 'btn cha-unselected'" style="display: block;">{{tympan.name}}</button>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="select()">{{'Select' | translate}}</button>
    <button type="button" class="btn btn-warning" (click)="cancel()">{{'Cancel' | translate}}</button>
</div>