
<br />

<div mat-accordion multi>
  <mat-expansion-panel class="panel panel-default">
    <!---->
    <mat-expansion-panel-header>
      <mat-panel-title>Protocols</mat-panel-title>
    </mat-expansion-panel-header>
     
    <div class="panel-body text-left">

      <!-- <div *ngIf="devices.diskM.diskMSpace < 200" i18n>
        <span class="glyphicon glyphicon-exclamation-sign warn-red"></span>
        The device has less than 200 MB of diskM.diskM space left. Please make more diskM.diskM space available before adding more protocols.
      </div> -->

      <table class="table fixed">
        <thead>
          <tr>
            <th scope="col" class="row-Name" i18n>Name</th>
            <th scope="col" class="row-Version" i18n>Version</th>
            <th scope="col" class="row-Date" i18n>Date</th>
          </tr>
        </thead>
        <tbody>
          <div *ngFor="let p of disk.loadedProtocols; index as i" class="no-border">
          <!-- <tr *ngFor="let p of disk.loadedProtocols; index as i" *ngIf="!p.admin" [ngClass]="pclass(p)" (click)="select(p)">
            <td class="row-Name" scope="row">{{p.name}}</td>
            <td class="row-Version">{{p.version}}</td>
            <td class="row-Date">{{p.server === 'gitlab' ? p.date?.replace('T', ' ')?.split('.')![0] : p.date}} </td>
          </tr> -->

          <tr></tr>

            <tr *ngIf="p !== undefined" [ngClass]="pclass(p)" (click)="select(p)" class="no-border">
              <!-- *ngIf="p.admin && disk.debugMode"  -->
              <td scope="row">{{p.name}}</td> 
              <td >{{p.version}}</td>
              <td >{{p.date}}</td>
            </tr>
          </div>
        </tbody>
      </table>

      <div class="row pad-top">
        <div class="col-6"><label for="validateProtocols" i18n>Validate protocols:</label></div>
        <div class="col-2"><input id="validateProtocols" type="checkbox" ngModel="diskService.validateProtocols" /></div>
        <div class="col-2"></div>
        <div class="col-1">
          <!-- <a href="javascript:" 
              title="{{'Default Language help' | translate}}" 
              mdbPopover='[innerHTML]="validateProtocolTooltip"'
              trigger="focus">
              <i class="ion-help-circled"></i>
          </a> -->
          
          
          <i [matMenuTriggerFor]= "menu" class="ion-help-circled"></i></div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
          <div [innerHTML]="validateProtocolTooltip">
          </div></button>
        </mat-menu>
      </div>


      <div class="row pad-top">
        <div class="col-4">
          <button [disabled]="isButtonDisabled()" *ngIf="!protocolService.isActive(selected)" class="btn btn-primary btn-block" (click)="load()" i18n> <i class="ion-compose"></i> Load</button>
          <button [disabled]="isButtonDisabled()" *ngIf="protocolService.isActive(selected)" class="btn btn-default btn-block" (click)="load()" i18n> <i class="ion-refresh"></i> Reload</button>
        </div>
        <div class="col-4">
          <button *ngIf="showUpdateButton()" [disabled]="isButtonDisabled()" class="btn btn-success btn-block" (click)="update()"><i class="ion-android-sync"></i> Update</button>
        </div>
        <div class="col-4">
          <button *ngIf="showDeleteButton()" [disabled]="isButtonDisabled()" class="btn btn-danger btn-block" (click)="delete()" i18n><i class="ion-trash-a"></i> Delete </button>
      </div>
    </div>
    </div>
  </mat-expansion-panel>
<!-- 
  <div mat-expansion-panel="media-repo-table" class="panel panel-default" is-open="isOpenMedia" *ngIf="disk.mediaRepos.length > 0">
    <h2 mat-expansion-panel-header i18n>
      Media<i class='pull-right glyphicon' [ngClass]='{"glyphicon-chevron-up": isOpenMedia, "glyphicon-chevron-down": !isOpenMedia}'></i>
    </h2>
    <div class="panel-body text-left">

      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th scope="col" i18n>Name</th>
            <th scope="col" i18n>Version</th>
            <th scope="col" i18n>Date</th>
            <th scope="col"><a title="Media help" uib-popover-html="mediaTablePopover" popover-placement="left" popover-trigger="'outsideClick'" i18n><i class="ion-help-circled"></i></a></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let m of disk.mediaRepos; index as i" [ngClass]="mclass(m) ? 'active-row': ''">
            <td>
              <button *ngIf="m.server === 'gitlab'" [disabled]="tasks.disabled" class="btn btn-success btn-sm" (click)="updateMedia(m)"><i class="ion-android-sync"></i></button>
            </td>
            <td>{{m.name}}</td>
            <td>{{m.version}}</td>
            <td>{{m.date.replace('T', ' ').split('.')[0]}}</td>
            <td>
              <button class="btn btn-danger btn-sm" [disabled]="tasks.disabled" (click)="deleteMedia(m)"><i class="ion-trash-a"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div> -->

  <mat-expansion-panel class="protocol-source" class="panel panel-default">
    <mat-expansion-panel-header>
      <!-- Source <i class='pull-right glyphicon' [ngClass]='{"glyphicon-chevron-up": isOpenSource, "glyphicon-chevron-down": !isOpenSource}'></i> -->
      <mat-panel-title>Source</mat-panel-title>
    </mat-expansion-panel-header>  

    <div class="panel-body text-left">
      <div class="row pad-top">
        <div class="col-4 admin-labels" translate> Server: </div>
        <div class="col-6"></div>
        <div class="col-1"><a href="#" title="'Server help' " uib-popover-html="serverPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
      </div>

      <div class="row pad-top">
        <div class="col-5">
          <!-- <button class="btn btn-primary btn-block"  [ngClass]="disk.server === localServer ? 'active' : '' " (click)="changeServer('gitlab')">Gitlab</button> -->
          <button class="btn btn-primary btn-block"  [ngClass]="disk.server === localServer ? 'active' : '' ">Gitlab</button>
        </div>
        <div class="col-5">
          <button class="btn btn-primary btn-block"  [ngClass]="disk.server === localServer ? 'active' : '' "translate>Device Storage</button>
        </div>
      </div>

      <br />

      <div class="row pad-top">
        <div class="col-3"><label for="directory">Directory:</label></div>
        <div class="col-4">
          <!-- <button class="btn btn-default btn-block" [disabled]="tasks.disabled" (click)="add()"> <i class="ion-plus-round"></i> 'Add'</button> -->
          <button class="btn btn-default btn-block"> <i class="ion-plus-round"></i> Add</button>
        </div>
        <div class="col-1"><a href="#" title="'Directory help' " uib-popover-html="localAddPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
      </div>

<!--    <div *ngIf="disk.server === 'gitlab'">

    <div class="row pad-top">
      <div class="col-3"><label for="repository2">'Repository:'</label></div>
      <div class="col-6 admin-input"><input id="repository2" type="text" enter-close class="form-control" placeholder="Name" ngModel="disk.servers.gitlab.repository" /></div>
      <div class="col-1"></div>
      <div class="col-1"><a href="#" title="'Repository help' " uib-popover-html="gitlabAddPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
    </div>

    <div class="row pad-top">
      <div class="col-3"><label for="version2">'Version:'</label></div>
      <div class="col-6 admin-input"><input id="version2" type="text" enter-close class="form-control" placeholder="Latest" ngModel="disk.servers.gitlab.version" /></div>
      <div class="col-1"></div>
      <div class="col-1"><a href="#" title="'Version help' " uib-popover-html="gitlabAddVersionPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
    </div>

    <div class="row tags-shift">
      <div class="col-3"></div>
      <div class="col-6">
          <i>'Tracking by '</i><i *ngIf="disk.gitlab.useTagsOnly"><strong>'tags'</strong></i><i *ngIf="!disk.gitlab.useTagsOnly"><strong>'commits'</strong></i>
      </div>
    </div>

    <div class="row pad-top">
      <div class="col-3"></div>
      <div class="col-5 admin-input">
        <button class="btn btn-default btn-block" [disabled]="!disk.servers.gitlab.repository" (click)="add()"><i class="ion-plus-round"></i> 'Add'</button>
      </div>
    </div>
    <br />

    <div class="row showhideSection">
      <div class="col-12 text-center">
        <a href="#" (click)="panes.protocols.advancedGitlab = !panes.protocols.advancedGitlab">
          <span *ngIf="panes.protocols.advancedGitlab" translate>Hide Advanced Settings <i class="ion-chevron-up"></i></span>
          <span *ngIf="!panes.protocols.advancedGitlab" translate>Show Advanced Settings <i class="ion-chevron-down"></i></span>
        </a>
      </div>
    </div>

    <div *ngIf="panes.protocols.advancedGitlab">
      
      <div class="row pad-top">
        <div class="col-4 protocol-tag-alignment protocol-advanced-labels"><label for="host" translate>Host:</label></div>
        <div class="col-6"><input id="host" type="text" enter-close class="form-control" placeholder="Host" ngModel="disk.servers.gitlab.host" /></div>
        <div class="col-1"><a href="#" title="'Host help' " uib-popover-html="gitlabHostPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
      </div>

      <div class="row pad-top">
        <div class="col-4 protocol-tag-alignment protocol-advanced-labels"><label for="token" translate>Token:</label></div>
        <div class="col-6"><input id="token" type="text" enter-close class="form-control" placeholder="Token" ngModel="disk.servers.gitlab.token" /></div>
        <div class="col-1"><a href="#" title="'Token help' " uib-popover-html="gitlabTokenPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
      </div>

      <div class="row pad-top">
        <div class="col-4 protocol-tag-alignment protocol-advanced-labels"><label for="group" translate>Group:</label></div>
        <div class="col-6"><input id="group" type="text" enter-close class="form-control" placeholder="Group" ngModel="disk.servers.gitlab.group" /></div>
        <div class="col-1"><a href="#" title="'Group help' " uib-popover-html="gitlabNamespacePopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
      </div>

      <div class="row pad-top">
        <div class="col-4"></div>
        <div class="col-6" class="text-right"><small><a href="#" (click)="gitlab.initDefault()" translate>Reset to Default</a></small></div>
        <div class="col-1"><a href="#" title="'Reset to Default help' " uib-popover-html="serverDefaultPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
      </div>

      <hr />

      <div class="row pad-top">
        <div class="col-6"><label for="onlyTrack" translate>Only Track <b>Tags:</b></label></div>
        <div class="col-2"><input id="onlyTrack" type="checkbox" ngModel="disk.gitlab.useTagsOnly" /></div>
        <div class="col-2"></div>
        <div class="col-1"><a href="#" title="'Only Track Tags help' " uib-popover-html="gitlabUseTagsPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
      </div>

      <div class="row pad-top">
        <div class="col-6"><label for="changeResultsLocation" translate>Change Results Location:</label></div>
        <div class="col-2"><input id="changeResultsLocation" type="checkbox" ngModel="disk.gitlab.useSeparateResultsRepo" ngChange="gitlab.toggleSeparateResultsRepo()" /></div>
        <div class="col-2"></div>
        <div class="col-1"><a href="#" title="'Change Results Location help' " uib-popover-html="gitlabUseSeperateResultsRepoPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
      </div>

      <div class="row pad-top" *ngIf="disk.gitlab.useSeparateResultsRepo">
        <div class="col-4"><label for="resultsGroup" translate>Results Group:</label></div>
        <div class="col-6"><input id="resultsGroup" type="text" enter-close class="form-control" placeholder="Namespace" ngModel="disk.servers.gitlab.resultsGroup" /></div>
        <div class="col-1"><a href="#" title="'Results Group help' " uib-popover-html="gitlabResultsGroupPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
      </div>

      <div class="row pad-top" *ngIf="disk.gitlab.useSeparateResultsRepo">
        <div class="col-4"><label for="resultsRepository" translate>Results Repository:</label></div>
        <div class="col-6"><input id="resultsRepository" type="text" enter-close class="form-control" placeholder="Repository" ngModel="disk.servers.gitlab.resultsRepo" /></div>
        <div class="col-1"><a href="#" title="'Results Repository help' " uib-popover-html="gitlabResultsRepoPopover" popover-placement="left" popover-trigger="'outsideClick'"><i class="ion-help-circled"></i></a></div>
      </div>
    </div>

</div> -->
    </div>

  </mat-expansion-panel>
</div>