<br />

<div mat-accordion multi>
  <mat-expansion-panel class="panel panel-default" [(expanded)]="state.isPaneOpen.protocols">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ "Protocols" | transloco }}</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="panel-body text-left">
      <table class="table fixed">
        <thead>
          <tr>
            <th scope="col" class="row-Name">{{ "Name" | transloco }}</th>
            <th scope="col" class="row-Server">{{ "Source" | transloco }}</th>
            <th scope="col" class="row-Version">{{ "Version" | transloco }}</th>
            <th scope="col" class="row-Date">{{ "Date" | transloco }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let p of getAvailableProtocols(); trackBy: trackByIndex; let i = index"
            class="no-border"
            (click)="select(p.value)"
            (keypress)="select(p.value)">
            <td [ngClass]="pclass(p.value)" class="row-Name">{{ p.value.name }}</td>
            <td [ngClass]="pclass(p.value)" class="row-Name">{{ p.value.server }}</td>
            <td [ngClass]="pclass(p.value)" class="row-Version">{{ p.value.version }}</td>
            <td [ngClass]="pclass(p.value)" class="row-Date">{{ p.value.date }}</td>
          </tr>
        </tbody>
      </table>

      <br />

      <div class="row pad-top">
        <div class="col-6">
          <label for="validateProtocols">{{ "Validate protocols:" | transloco }}</label>
        </div>
        <div class="col-2">
          <input id="validateProtocols" type="checkbox" [ngModel]="disk.preferences.validateProtocols" (change)="toggleValidateProtocols()" />
        </div>
        <div class="col-2"></div>
        <div class="col-1">
          <i [matMenuTriggerFor]="validateProtocolMenu" class="ion-help-circled"></i>
        </div>
        <mat-menu #validateProtocolMenu="matMenu">
          <button mat-menu-item>
            <div [innerHTML]="validateProtocolPopover"></div>
          </button>
        </mat-menu>
      </div>

      <div class="row pad-top">
        <div class="col-4">
          <button [disabled]="isButtonDisabled()" *ngIf="!isProtocolActive()" class="btn btn-primary btn-block" (click)="loadProtocol()">
            <i class="ion-compose"></i> {{ "Load" | transloco }}
          </button>
          <button [disabled]="isButtonDisabled()" *ngIf="isProtocolActive()" class="btn btn-default btn-block" (click)="loadProtocol()">
            <i class="ion-refresh"></i> {{ "Reload" | transloco }}
          </button>
        </div>
        <div class="col-4">
          <button *ngIf="showUpdateButton()" [disabled]="isButtonDisabled()" class="btn btn-success btn-block" (click)="update()">
            <i class="ion-android-sync"></i> Update
          </button>
        </div>
        <div class="col-4">
          <button *ngIf="showDeleteButton()" [disabled]="isButtonDisabled()" class="btn btn-danger btn-block" (click)="delete()" i18n>
            <i class="ion-trash-a"></i> Delete
          </button>
        </div>
      </div>
    </div>
  </mat-expansion-panel>

  <br />

  <mat-expansion-panel class="panel panel-default" [(expanded)]="state.isPaneOpen.protocolsMedia" *ngIf="commonMediaRepos.length > 0">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ "Media" | transloco }}</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="panel-body text-left">
      <table class="table fixed">
        <thead>
          <tr>
            <th scope="col">{{ "Name" | transloco }}</th>
            <th scope="col">{{ "Version" | transloco }}</th>
            <th scope="col">{{ "Date" | transloco }}</th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="let mediaRepo of commonMediaRepos; trackBy: trackByIndex"
            class="no-border"
            (click)="selectMedia(mediaRepo)"
            (keypress)="selectMedia(mediaRepo)">
            <td [ngClass]="mclass(mediaRepo)">{{ mediaRepo.repository }}</td>
            <td [ngClass]="mclass(mediaRepo)">{{ mediaRepo.tag }}</td>
            <td [ngClass]="mclass(mediaRepo)">{{ mediaRepo.date.replace("T", " ").split(".")[0] }}</td>
          </tr>
        </tbody>
      </table>

      <br />

      <div class="row pad-top">
        <div class="col-3"></div>
        <div class="col-6">
          <div class="row">
            <div class="col-6">
              <button [disabled]="!selectedCommonMedia" class="btn btn-success btn-block" (click)="updateMedia()">
                <i class="ion-android-sync"></i>{{ "Update" | transloco }}
              </button>
            </div>
            <div class="col-6">
              <button [disabled]="!selectedCommonMedia" class="btn btn-danger btn-block" (click)="deleteMedia()">
                <i class="ion-trash-a"></i>{{ "Delete" | transloco }}
              </button>
            </div>
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-1">
          <i [matMenuTriggerFor]="mediaTableHelpMenu" class="ion-help-circled"></i>
        </div>
        <mat-menu #mediaTableHelpMenu="matMenu">
          <button mat-menu-item>
            <div [innerHTML]="mediaTablePopover"></div>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-expansion-panel>

  <br />

  <mat-expansion-panel class="protocol-source" class="panel panel-default" [(expanded)]="state.isPaneOpen.protocolsSource">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ "Source" | transloco }}</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="panel-body text-left">
      <div class="row pad-top align-items-center">
        <div class="col-3 admin-labels">{{ "Server:" | transloco }}</div>
        <div class="col-6">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-primary w-100" [ngClass]="{ active: selectedSource === 'gitlab' }" (click)="setSource('gitlab')">
                {{ "Gitlab" | transloco }}
              </button>
            </div>
            <div class="col-6">
              <button class="btn btn-primary w-100" [ngClass]="{ active: selectedSource === 'device' }" (click)="setSource('device')">
                {{ "Device Storage" | transloco }}
              </button>
            </div>
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-1">
          <i [matMenuTriggerFor]="protocolServerMenu" class="ion-help-circled"></i>
        </div>
        <mat-menu #protocolServerMenu="matMenu">
          <button mat-menu-item>
            <div [innerHTML]="protocolServerPopover"></div>
          </button>
        </mat-menu>
      </div>

      <div *ngIf="selectedSource === 'gitlab'" class="gitlab-config">
        <app-gitlab-form-view
          [initialConfig]="this.disk.preferences.gitlabConfig"
          (submitConfig)="onGitlabConfigSubmit($event)"></app-gitlab-form-view>
      </div>

      <div *ngIf="selectedSource === 'device'">
        <div class="row pad-top">
          <div class="col-3">
            <label for="directory">{{ "Directory:" | transloco }}</label>
          </div>
          <div class="col-4">
            <button class="btn btn-default btn-block" (click)="addProtocols()"><i class="ion-plus-round"></i> {{ "Add" | transloco }}</button>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</div>
