<div *ngIf="!!(this.protocol.activeProtocol?.title)">
    <h1 [innerHtml]="this.protocol.activeProtocol?.title"></h1>
    <div class="spacer"></div>
  </div>
  
  <div *ngIf="!!(this.protocol.activeProtocol?.subtitle)">
    <h2 [innerHtml]="this.protocol.activeProtocol?.subtitle"></h2>
    <div class="spacer"></div>
  </div>
  
  <p class="instructions" *ngIf="!!(this.protocol.activeProtocol?.instructionText)"><span [innerHtml]="this.protocol.activeProtocol?.instructionText" id="instructions-ready"></span></p>
  