<style>
    .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
      margin: 0 auto;
      display: block;
      margin-bottom: 1em;
    }
    
    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
</style>

<div *ngIf="page.loadingRequired && page.loadingActive">
    <h2>Media File(s) Loading...</h2>
    <div class="loader"></div>
    <button type="button" class="button btn btn-default" (click)="page.loadingRequired=false; examService.finishActivateMedia()" translate disabled="true">Start Exam</button>
    </div>

    <div *ngIf="page.loadingRequired && !page.loadingActive">
    <h2 style="margin-bottom:1em;">Loading Complete</h2>
    <button type="button" class="button btn btn-default" (click)="page.loadingRequired=false; examService.finishActivateMedia()" translate>Start Exam</button>
    </div>

    <div *ngIf="!page.loadingRequired">
    <!-- Title block -->
    <h2 [textContent]="page.questionMainText" *ngIf="page.questionMainText"
        ng-class="{medium: ((page.questionMainText.length >= 38) && (page.questionMainText.length < 48)), long: (page.questionMainText.length > 42)}"></h2>
    <p class="subtext pad-top" *ngIf="page.questionSubText" [ngStyle]="examService.centerIfShort('subtext-testing')">
        <span [textContent]="page.questionSubText" id="subtext-testing"></span>
    </p>
    <p class="instructions" *ngIf="page.instructionText" [ngStyle]="examService.centerIfShort('instructions-testing')"><span [textContent]="page.instructionText" id="instructions-testing"></span></p>


    <!-- Images -->
    <!-- <div class="multimedia" *ngIf="page.image" [ngStyle]="{width:page.image.width}">
        <img [src]="{{page.image.path}}" class="img-responsive img-rounded" alt="" style="margin:0 auto;max-height:40vh;" />
    </div> -->


    <!-- Videos -->
    <!-- <div class="multimedia" *ngIf="page.video" [ngStyle]="{width:page.video.width}">
        <row *ngIf="page.video.autoplay">
        <video id="video1" [src]="{{page.video.path}}" class="video-responsive video-rounded"  preload="page.video.autoplay" controls />
        </row>
        <row *ngIf="!page.video.autoplay">
        <video id="video1" [src]="{{page.video.path}}" class="video-responsive video-rounded"  controls />
        </row>
    </div> -->

    <br />

    <!-- Response area content -->
    <!-- <div *ngIf="page.responseArea" ng-controller="ResponseAreaCtrl as ra">
        <div ng-repeat="(type, spec) in ra.responseAreas">
            <response-area *ngIf="type === page.responseArea.type" ng-include="spec.templateUrl"></response-area>
        </div>
    </div> -->

</div>
