<div class="table-form-max-width">
    <fieldset [disabled]="reviewDisabled">
      <div
        class="row"
        *ngFor="let item of inputList; let itemIdx = index"
        [style.margin-bottom.px]="verticalSpacing"
      >
        <div class="col-xs-6" [style.justify-content]="textAlign">
          <label [for]="'itemID' + itemIdx">{{ item.text }}</label>
        </div>
        <div class="col-xs-6">
          <!-- Text -->
          <input
            *ngIf="item.inputType === 'text'"
            [id]="'itemID' + itemIdx"
            [(ngModel)]="results.currentPage.response[itemIdx]"
            (ngModelChange)="updateSubmittableLogic()"
            class="form-control"
          />
  
          <!-- Dropdown -->
          <div ngbDropdown *ngIf="item.inputType === 'dropdown'" display="dynamic">
            <button ngbDropdownToggle
              type="button"
              class="btn btn-default btn-block dropdown-toggle"
              id="option"
            >
              {{ results.currentPage.response[itemIdx] || 'Select' }}
            </button>
            <div ngbDropdownMenu aria-labelledby="option">
              <button ngbDropdownItem *ngFor="let option of item.options" (click)="selectResponse(itemIdx, option)">{{ option }}
              </button>
            </div>
          </div>
  
          <!-- Number -->
          <input
            *ngIf="item.inputType === 'number'"
            [id]="'itemID' + itemIdx"
            type="number"
            [(ngModel)]="results.currentPage.response[itemIdx]"
            class="form-control"
          />
  
          <!-- Date -->
          <input
            *ngIf="item.inputType === 'date'"
            [id]="'itemID' + itemIdx"
            type="date"
            [(ngModel)]="results.currentPage.response[itemIdx]"
            [attr.max]="item.dateProperties?.maxDate === 'today' ? today : item.dateProperties?.maxDate"
            [attr.min]="item.dateProperties?.minDate === 'today' ? today : item.dateProperties?.minDate"
            class="form-control"
          />
  
          <!-- Multi-dropdown -->
          <ng-multiselect-dropdown
            *ngIf="item.inputType === 'multi-dropdown'"
            [id]="'itemID' + itemIdx"
            [(ngModel)]="multiDropdownModel[itemIdx]"
            [data]="multiDropdownJson[itemIdx]"
            [settings]="{ singleSelection: false }"
            (onSelect)="selectMultiResponse(itemIdx)"
            (onDeSelect)="selectMultiResponse(itemIdx)"
          ></ng-multiselect-dropdown>
        </div>
      </div>
    </fieldset>
  
    <div class="row" *ngIf="review">
      <div class="col-xs-12">
        <button
          *ngIf="!reviewDisabled"
          class="btn btn-secondary"
          type="button"
          id="review"
          (click)="enableReview(true)"
        >
          Review
        </button>
        <button
          *ngIf="reviewDisabled"
          class="btn btn-secondary"
          type="button"
          id="edit"
          (click)="enableReview(false)"
        >
          Edit
        </button>
      </div>
    </div>
  </div>
  