<div class="table-form-max-width">
    <fieldset [disabled]="reviewDisabled">
      <div
        class="row"
        *ngFor="let item of page.dm.responseArea.inputList; let itemIdx = index"
        [style.margin-bottom.px]="page.dm.responseArea.verticalSpacing"
      >
        <div class="col-xs-6" [style.justify-content]="page.dm.responseArea.textAlign">
          <label [for]="'itemID' + itemIdx">{{ item.text }}</label>
        </div>
        <div class="col-xs-6">
          <!-- Text -->
          <input
            *ngIf="item.inputType === 'text'"
            [id]="'itemID' + itemIdx"
            [(ngModel)]="page.result.response[itemIdx]"
            class="form-control"
          />
  
          <!-- Dropdown -->
          <div *ngIf="item.inputType === 'dropdown'" class="dropdown">
            <button
              type="button"
              class="btn btn-default btn-block dropdown-toggle"
              [attr.id]="'itemID' + itemIdx"
            >
              {{ page.result.response[itemIdx] || 'Select' }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let option of item.options">
                <a href="#" (click)="selectResponse(itemIdx, option)">{{ option }}</a>
              </li>
            </ul>
          </div>
  
          <!-- Number -->
          <input
            *ngIf="item.inputType === 'number'"
            [id]="'itemID' + itemIdx"
            type="number"
            [(ngModel)]="page.result.response[itemIdx]"
            class="form-control"
          />
  
          <!-- Date -->
          <input
            *ngIf="item.inputType === 'date'"
            [id]="'itemID' + itemIdx"
            type="date"
            [(ngModel)]="page.result.response[itemIdx]"
            [attr.max]="item.dateProperties?.maxDate === 'today' ? today : item.dateProperties?.maxDate"
            [attr.min]="item.dateProperties?.minDate === 'today' ? today : item.dateProperties?.minDate"
            class="form-control"
          />
  
          <!-- Multi-dropdown -->
          <ng-multiselect-dropdown
            *ngIf="item.inputType === 'multi-dropdown'"
            [id]="'itemID' + itemIdx"
            [(ngModel)]="multiDropdownModel[itemIdx]"
            [data]="multiDropdownJson[itemIdx]"
            [settings]="{ singleSelection: false }"
            (onSelect)="selectMultiResponse(itemIdx)"
            (onDeSelect)="selectMultiResponse(itemIdx)"
          ></ng-multiselect-dropdown>
        </div>
      </div>
    </fieldset>
  
    <div class="row" *ngIf="page.dm.responseArea.review">
      <div class="col-xs-12">
        <button
          *ngIf="!reviewDisabled"
          class="btn btn-secondary"
          type="button"
          id="review"
          (click)="enableReview(true)"
        >
          Review
        </button>
        <button
          *ngIf="reviewDisabled"
          class="btn btn-secondary"
          type="button"
          id="edit"
          (click)="enableReview(false)"
        >
          Edit
        </button>
      </div>
    </div>
  </div>
  