<div>
  <span class="multi-choice-container">
    <div class="row" *ngFor="let choice of choices" [ngStyle]="{'padding-bottom':paddingBottom}">
      <button
        [class]="multipleChoiceBtnClass(choice)"
        [ngStyle]="{'font-size':choice.fontSize,'background':(choice.backgroundColor)||(choice.disable&&'#cccccc'),'color':(choice.textColor)||(choice.disable&&'#666666')}" 
        (click)="choose(choice.id)"
        name="{{ choice.text }}"
        [innerHtml]="choice.text"> 
      </button>
    </div>

    <div class="row" *ngIf="otherSelected">
      <textarea
        [(ngModel)]="results.currentPage.response.other"
        (ngModelChange)="onResponseChange()"
        (keydown.enter)="onEnter()"
        rows="5"
        autofocus="true"
        maxlength="5000">
      </textarea>
    </div>
  </span>
</div>
